# PANDAS PROJECT

# 0. Environment

### Import Modules

In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
import re
pd.set_option('display.max_columns',None)
pd.set_option('display.max_colwidth', 200)

### Import CSV

In [2]:
data = pd.read_csv('GSAF5.csv',encoding='iso8859-1')

# 1. Checking the DataFrame

## 1.1 General look of the DataFrame

In [3]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,2016.09.16,2016.09.15,5989,NaN,NaN

In [4]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,5992.0,1925.204606,286.473712,0.0,1942.00,1975.0,2003.00,2016.0
original order,5992.0,2997.548899,1729.860210,2.0,1499.75,2997.5,4495.25,5993.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [6]:
data.shape

(5992, 24)

In [7]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [8]:
#data.profile_report()

In [9]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

**The column Species and Sex have spaces at the end on the name, we are going to take them out**

In [10]:
data.columns = ['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23']

**Reorder columns to work more easily**

In [11]:
data.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,2016.09.18.a,2016.09.18.a,5991,NaN,NaN

In [12]:
data = data[['Case Number', 'Case Number.1', 'Case Number.2', 'Date', 'Year','Time',
             'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex', 'Age',
             'Injury', 'Fatal','Species', 'Investigator or Source', 'pdf',
             'href formula', 'href', 'original order', 'Unnamed: 22', 'Unnamed: 23']]

In [13]:
data.head(3)

,Case Number,Case Number.1,Case Number.2,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,2016.09.18.c,2016.09.18.c,18-Sep-16,2016,13h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,5993,NaN,NaN
1,2016.09.18.b,2016.09.18.b,2016.09.18.b,18-Sep-16,2016,11h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,5992,NaN,NaN
2,2016.09.18.a,2016.09.18.a,2016.09.18.a,18-Sep-16,2016,10h43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,5991,NaN,NaN

# 2. CLEANING THE DATA

## 2.1. We start with the columns

### 2.1.1. Set the index

**The column Original Order 
seems to be the old index. As we will keep  the index of the dataframe, we will delete it**

In [14]:
data = data.drop(['original order'], axis=1)

### 2.1.2. Check if there are empty columns

**Checking the columns with more than 2000 nulls out of 5992**

In [15]:
null_cols = data.isnull().sum()
null_cols[null_cols > 2000]

Time           3213
Age            2681
Species        2934
Unnamed: 22    5991
Unnamed: 23    5990
dtype: int64

**The cols 'Unnamed: 22' and 'Unnamed: 23' have only one value and two values.
We check the values.**

In [16]:
unnamed22 = data['Unnamed: 22'].unique()
unnamed22

array([nan, 'stopped here'], dtype=object)

In [17]:
unnamed23 = data['Unnamed: 23'].unique()
unnamed23

array([nan, 'Teramo', 'change filename'], dtype=object)

**We check the values of the rows of those values.**

In [18]:
data[data['Unnamed: 22']=='stopped here']

,Case Number,Case Number.1,Case Number.2,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href,Unnamed: 22,Unnamed: 23
1247,2006.06.18,2006.06.18,2006.06.18,18-Jun-06,2006,09h00,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,27,Left thigh bitten FATAL,Y,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.06.18-Batista.pdf,stopped here,NaN

In [19]:
data[data['Unnamed: 23']=='Teramo']

,Case Number,Case Number.1,Case Number.2,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href,Unnamed: 22,Unnamed: 23
4182,1952.07.13,1952.07.13,1952.07.13,13-Jul-52,1952,NaN,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Teresa A",M,34,Part of hand removed by shark he had caught PROVOKED INCIDENT,N,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1952.07.13-Howard.pdf,NaN,Teramo

In [20]:
data[data['Unnamed: 23']=='change filename']

,Case Number,Case Number.1,Case Number.2,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href,Unnamed: 22,Unnamed: 23
5585,1879.03.10,1879.03.10,1879.03.10,10-Mar-1879,1879,NaN,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,NaN,Partial remains found in shark,Y,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1879.03.10-Bonnie-Dundee.pdf,NaN,change filename

**As the info in the cell seems no relevant, so we drop the columns 'Unnamed: 22' and 'Unnamed: 23'.**

In [21]:
data = data.drop(['Unnamed: 22', 'Unnamed: 23'], axis=1)

In [22]:
data.head()

,Case Number,Case Number.1,Case Number.2,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href
0,2016.09.18.c,2016.09.18.c,2016.09.18.c,18-Sep-16,2016,13h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
1,2016.09.18.b,2016.09.18.b,2016.09.18.b,18-Sep-16,2016,11h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
2,2016.09.18.a,2016.09.18.a,2016.09.18.a,18-Sep-16,2016,10h43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf
3,2016.09.17,2016.09.17,2016.09.17,17-Sep-16,2016,NaN,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf
4,2016.09.15,2016.09.16,2016.09.15,16-Sep-16,2016,NaN,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf

### 2.1.3 Check if there are duplicate columns to delete them

**We will check if there is any duplicated comlumn**

In [23]:
#source: https://thispointer.com/how-to-find-drop-duplicate-columns-in-a-dataframe-python-pandas/
def getDuplicateColumns(df):
    duplicateColumnNames = set()
    # Iterate over all the columns in dataframe
    for x in range(df.shape[1]):
        # Select column at xth index.
        col = df.iloc[:, x]
        # Iterate over all the columns in DataFrame from (x+1)th index till end
        for y in range(x + 1, df.shape[1]):
            # Select column at yth index.
            otherCol = df.iloc[:, y]
            # Check if two columns at x 7 y index are equal
            if col.equals(otherCol):
                duplicateColumnNames.add(df.columns.values[y])
 
    return list(duplicateColumnNames)

In [24]:
getDuplicateColumns(data)

[]

**There is no complitely duplicate columns.**

**Let's check if with a function we can found possible very similar columns.**

**Create a function to detect percentage of similitud amog 2 rows**

In [25]:
def compareRows(df, col1, col2):
    eq_row = np.where(df[col1] == df[col2], 1, 0).sum()
    rows = df.shape[0] - df[col1].isnull().sum()
    per_row = round((eq_row / rows) * 100,2)
    return per_row

**Make a table comparing column to column**

In [26]:
compared_cols = pd.DataFrame()
compared_cols['index'] = data.columns
compared_cols = compared_cols.set_index('index')
for col in data.columns:
    column = list()
    for col2 in data.columns:
        column.append(compareRows(data, col, col2))
    compared_cols[col] = column

In [27]:
compared_cols

,Case Number,Case Number.1,Case Number.2,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href
index,,,,,,,,,,,,,,,,,,,,,
Case Number,100.00,99.78,99.97,0.05,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.02,0.00,0.00
Case Number.1,99.78,100.00,99.82,0.05,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.02,0.00,0.00
Case Number.2,99.97,99.82,100.00,0.05,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.02,0.00,0.00
Date,0.05,0.05,0.05,100.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Year,0.00,0.00,0.00,0.00,100.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Time,0.00,0.00,0.00,0.00,0.0,100.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,0.0,0.00,0.00,0.00
Type,0.00,0.00,0.00,0.00,0.0,0.00,100.00,0.0,0.00,0.00,0.26,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Country,0.00,0.00,0.00,0.00,0.0,0.00,0.00,100.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Area,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,100.00,0.13,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Location,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.13,100.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Activity,0.00,0.00,0.00,0.00,0.0,0.00,0.23,0.0,0.00,0.00,100.00,0.00,0.02,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Name,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,100.00,0.00,0.0,0.02,0.00,0.00,0.0,0.00,0.00,0.00
Sex,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.02,0.00,100.00,0.0,0.00,0.02,0.00,0.0,0.00,0.00,0.00
Age,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,100.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Injury,0.00,0.00,0.00,0.00,0.0,0.04,0.00,0.0,0.00,0.00,0.00,0.02,0.00,0.0,100.00,0.00,0.03,0.0,0.00,0.00,0.00
Fatal,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.02,0.0,0.00,100.00,0.00,0.0,0.00,0.00,0.00
Species,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.02,0.00,100.00,0.0,0.00,0.00,0.00
Investigator or Source,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,100.0,0.00,0.00,0.00
pdf,0.02,0.02,0.02,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,100.00,0.00,0.00
href formula,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00,100.00,99.15
href,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00,99.12,100.00

**Case number is very similar to Case Number.1 and Case Sumber.2**
**href and href formula are very similar too.**

**Lets chek the different values is Case number, Case Number.1 and Case Sumber.2**

In [28]:
data[['Date','Year','Sex','Case Number','Case Number.1','Case Number.2']].loc[(data['Case Number'] != data['Case Number.1'])| (data['Case Number'] != data['Case Number.2']) | (data['Case Number.1'] != data['Case Number.2'])]

,Date,Year,Sex,Case Number,Case Number.1,Case Number.2
4,16-Sep-16,2016,M,2016.09.15,2016.09.16,2016.09.15
33,Reported 14-Jul-2016,2016,M,2016.07.14.4,2016.07.14.R,2016.07.14.4
97,24-Jan-16,2016,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
116,07-Nov-15,2015,F,2015.12.23,2015.11.07,2015.12.23
121,28-Oct-15,2015,M,2015.10.28.a,2015.10.28,2015.10.28.a
169,10-Jul-15,2015,M,2015.07-10,2015.07.10,2015.07.10
3296,05-Jul-67,1967,M,1967.07.05,1967/07.05,1967.07.05
3569,30-Aug-62,1962,M,"1962,08.30.b",1962.08.30.b,"1962,08.30.b"
3654,Reported 06-Sep-1961,1961,M,1961.09.02.R,"1961.09,06.R",1961.09.02.R
4177,05-Aug-52,1952,NaN,1952.08.05,1952.08.04,1952.08.05
4719,Reported 08-Feb-1934,1934,M,1934.01.08.R,1934.02.08.R,1934.02.08.R
5043,Reported to have taken place in 1919,1919,M,1900.00.00.R,1919.00.00.R,1900.00.00.R
5150,Reported 31-Jul-1911,1911,M,1911.07.31.R,1911.07.31.T,1911.07.31.R

**First I will make the columns to be type string and then replace all the comas in the Case Number, Case Number.1 and Case Number.2**
**As I guess the rules for the naming are year.month.day.victim.Reported yyyy.mm.dd.[a].[R]**

In [29]:
data[['Case Number', 'Case Number.1', 'Case Number.2']] = data[['Case Number', 'Case Number.1', 'Case Number.2']].astype(str)

In [30]:
data['Case Number']= data['Case Number'].str.replace(',', '.')

In [31]:
data['Case Number.1']= data['Case Number.1'].str.replace(',', '.')

In [32]:
data['Case Number.2']= data['Case Number.2'].str.replace(',', '.')

**I think Case Number.1 and Case Number.2 are corrections about the Case Number**

In [33]:
data[['Date','Year','Sex','Case Number','Case Number.1','Case Number.2']].loc[(data['Case Number'] != data['Case Number.1'])| (data['Case Number'] != data['Case Number.2']) | (data['Case Number.1'] != data['Case Number.2'])]

,Date,Year,Sex,Case Number,Case Number.1,Case Number.2
4,16-Sep-16,2016,M,2016.09.15,2016.09.16,2016.09.15
33,Reported 14-Jul-2016,2016,M,2016.07.14.4,2016.07.14.R,2016.07.14.4
97,24-Jan-16,2016,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
116,07-Nov-15,2015,F,2015.12.23,2015.11.07,2015.12.23
121,28-Oct-15,2015,M,2015.10.28.a,2015.10.28,2015.10.28.a
169,10-Jul-15,2015,M,2015.07-10,2015.07.10,2015.07.10
3296,05-Jul-67,1967,M,1967.07.05,1967/07.05,1967.07.05
3654,Reported 06-Sep-1961,1961,M,1961.09.02.R,1961.09.06.R,1961.09.02.R
4177,05-Aug-52,1952,NaN,1952.08.05,1952.08.04,1952.08.05
4719,Reported 08-Feb-1934,1934,M,1934.01.08.R,1934.02.08.R,1934.02.08.R
5043,Reported to have taken place in 1919,1919,M,1900.00.00.R,1919.00.00.R,1900.00.00.R
5150,Reported 31-Jul-1911,1911,M,1911.07.31.R,1911.07.31.T,1911.07.31.R

**I pick the correct data from the other columns**

In [34]:
data['Case Number'].iloc[169] = data['Case Number.2'].iloc[169]

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [35]:
data['Case Number'].iloc[[4, 33, 116, 121, 3569, 3654, 4719, 5043]] = data['Case Number.1'].iloc[[4, 33, 116, 121, 3569, 3654, 4719, 5043]]

In [36]:
data[['Date','Year','Sex','Case Number','Case Number.1','Case Number.2']].loc[(data['Case Number'] != data['Case Number.1'])| (data['Case Number'] != data['Case Number.2']) | (data['Case Number.1'] != data['Case Number.2'])]

,Date,Year,Sex,Case Number,Case Number.1,Case Number.2
4,16-Sep-16,2016,M,2016.09.16,2016.09.16,2016.09.15
33,Reported 14-Jul-2016,2016,M,2016.07.14.R,2016.07.14.R,2016.07.14.4
97,24-Jan-16,2016,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
116,07-Nov-15,2015,F,2015.11.07,2015.11.07,2015.12.23
121,28-Oct-15,2015,M,2015.10.28,2015.10.28,2015.10.28.a
3296,05-Jul-67,1967,M,1967.07.05,1967/07.05,1967.07.05
3654,Reported 06-Sep-1961,1961,M,1961.09.06.R,1961.09.06.R,1961.09.02.R
4177,05-Aug-52,1952,NaN,1952.08.05,1952.08.04,1952.08.05
5043,Reported to have taken place in 1919,1919,M,1919.00.00.R,1919.00.00.R,1900.00.00.R
5150,Reported 31-Jul-1911,1911,M,1911.07.31.R,1911.07.31.T,1911.07.31.R

**Now I can drop the columns Case Number.1 and Case Number.2**

In [37]:
data = data.drop(['Case Number.1', 'Case Number.2'], axis=1)

In [38]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,href formula,href
0,2016.09.18.c,18-Sep-16,2016,13h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
1,2016.09.18.b,18-Sep-16,2016,11h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
2,2016.09.18.a,18-Sep-16,2016,10h43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf
3,2016.09.17,17-Sep-16,2016,NaN,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf
4,2016.09.16,16-Sep-16,2016,NaN,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf

**Lets chek the different values href and href formula**

In [39]:
data[['Date','Year','Sex','href','href formula','Case Number']].loc[data['href'] != data['href formula']]

,Date,Year,Sex,href,href formula,Case Number
20,29-Jul-16,2016,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,2016.07.29
27,23-Jul-16,2016,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.a-Cutbirth.pdf,2016.07.23.a
61,21-May-16,2016,F,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf,2016.05.21.a
107,21-Dec-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf,2015.12.21.a
114,15-Nov-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf,2015.11.15.a
134,05-Oct-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05-Slaughter.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05.a-Slaughter.pdf,2015.10.05.a
180,27-Jun-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27-Swanepoel.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27.a-Swanepoel.pdf,2015.06.27.a
193,13-Jun-15,2015,F,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/Court Case pending,2015.06.13
232,24-Jan-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf,2015.01.24
262,19-Oct-14,2014,F,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf,2014.10.19
263,18-Oct-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson.pdf,2014.10.18
264,17-Oct-14,2014,F,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.14-Bandy.pdf,"http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.17-Olsson, pdf",2014.10.17
271,03-Oct-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.b-Kayaks2.pdf,2014.10.03.b
272,03-Oct-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.a-Kayaks1.pdf,2014.10.03.a
293,12-Aug-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.12-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.15-Hayes.pdf,2014.08.12
305,22-Jul-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf,2014.07.22
323,09-Jun-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09-Berry.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09.a-Berry.pdf,2014.06.09.a
347,03-Apr-14,2014,F,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf,2014.04.03
361,07-Feb-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07.b-Torres.pdf,2014.02.07.b
362,07-Feb-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07-PorpoiseBay.pdf,2014.02.07
363,26-Jan-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.26-O'Connor.pf,2014.01.26
364,25-Jan-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.25-Grant,2014.01.25
365,04-Jan-14,2014,M,pdf_directory2014.01.04-Riano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.04-Rianto.pdf,2014.01.04
367,25-Dec-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf,2013.12.25
377,22-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner.pdf,2013.11.22
378,12-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly.pdf,2013.11.12
379,10-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas.pdf,2013.11.10
380,07-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates.pdf,2013.11.07.b
381,07-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian.pdf,2013.11.07.a
382,31-Oct-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon.pdf,2013.10.31
383,28-Oct-13,2013,F,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons.pdf,2013.10.28
384,26-Oct-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy.pdf,2013.10.26.b
448,27-May-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.b-Ena.pdf,pdf-directory/2013.05.27.b-Ena.pdf,2013.05.27.b
449,27-May-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27-Kirkpatrick.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.a-Kirkpatrick.pdf,2013.05.27.a
823,01-Feb-10,2010,F,http://sharkattackfile.net/spreadsheets/pdf_directory/2010.02.01-Ward.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/12.26,2010.02.01
1217,22-Aug-06,2006,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22-IsaulCoba.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Melo.pdf,2006.08.22.b
1218,22-Aug-06,2006,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Brazil-incomplete.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.a-Coba.pdf,2006.08.22.a
2274,Apr-93,1993,M,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1993.04.00-Szolomiak.pdf,1993.04.00
2477,1989,1989,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00-Virginia-spearfisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00.a-Virginia-spearfisherman.pdf,1989.00.00.a
3019,19-Jan-75,1975,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1975.01.19-Barrowman.pdf,NaN,1975.01.19
3549,1963,1963,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1963.00.00.a-Seychelles.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1963.00.00.a-Seychelles.pdf,1963.00.00.a
3603,25-Mar-62,1962,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1962.03.25.b-Luxton.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1962.03.25.b-Luxton.pdf,1962.03.25.b
3917,31-Aug-58,1958,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.08.31.a-NV-Ensenada.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.08.31-NV-Ensenada.pdf,1958.08.31
3928,Jul-58,1958,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.07.00.b - Waterman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.07.00.b-Waterman.pdf,1958.07.00.b
4394,30-Jul-45,1945,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1945.07.30 - USS Indianapolis.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1945.07.30-USS Indianapolis.pdf,1945.07.30
4642,Reported 04-Aug-1936,1936,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1936.08.04.R-PearlDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1936.08.04.R-PearlDiver.pdf,1936.08.04
4668,24-Aug-35,1935,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield,http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield.pdf,1935.08.24
4719,Reported 08-Feb-1934,1934,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,1934.02.08.R
5317,05-Sep-00,1900,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1900.09.05-Hartman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1900.09.05-Hartman.pdf,1900.09.05
5458,06-26-1890,1890,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1890.06.26-Mayonni.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1890.06.26-Mayonni.pdf,1890.06.26
5686,02-Jan-1864,1864,M,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.01.01-Kelsall.pdf,1864.01.02
5694,Reported 1863,1863,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu,http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu,1863.00.00.R
5819,Reported 08-Jul-1819,1819,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1819.07.08-Cadiz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1819.07.08.R-Cadiz.pdf,1819.07.08.R
5857,Reported 1637,1637,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1637.00.00-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1637.00.00.R-Manrique.pdf,1637.00.00.R

**I assume href formula is the most accurate column for the urls, anyhow I will correct some errors**

**Take some values from href as the cell has the correct url**

In [40]:
data['href formula'].iloc[[193,293,364,448,823,3019]] = data['href'].iloc[[193,293,364,448,823,3019]]

In [41]:
data['href formula'].iloc[363] = None

In [42]:
index_href = data['href formula'].loc[data['href formula'].str.endswith('.pdf') == False].index

In [43]:
data['href formula'].iloc[index_href]

65               http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.02-NZ-pdf
126      http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.17.b.-Hawaii. pdf
157           http://sharkattackfile.net/spreadsheets/pdf_directory/2015.08.19-Szsarmack
177          http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.30.b-Steve.pf
226         http://sharkattackfile.net/spreadsheets/pdf_directory/2015.02.14-Bishop.pdf
251      http://sharkattackfile.net/spreadsheets/pdf_directory/2014.11.20-Mauritius.pdf
252           http://sharkattackfile.net/spreadsheets/pdf_directory/2014.11.19-Freo.pdf
264         http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.17-Olsson, pdf
295      http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.09.R-Hindley, pdf
334         http://sharkattackfile.net/spreadsheets/pdf_directory/2014.05.14-McLeod, pdf
343       http://sharkattackfile.net/spreadsheets/pdf_directory/.2014.04.12.R-inflatable
352            http://sharkattackfile.net/spreadsheets/pdf_directory/2014.03.18.c-Borgna
359            http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.17.R-OneDLL
425          http://sharkattackfile.net/spreadsheets/pdf_directory/2013.07.29.a-Gatewood
1004             http://sharkattackfile.net/spreadsheets/pdf_directory/2008.07.26.a-Maui
2476         http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00.b-Halstead
2714           http://sharkattackfile.net/spreadsheets/pdf_directory/1983.06.00-Starling
3569              http://sharkattackfile.net/spreadsheets/pdf_directory/1962.08.30.b-pdf
3987             http://sharkattackfile.net/spreadsheets/pdf_directory/1957.00.00.i-baby
4481          http://sharkattackfile.net/spreadsheets/pdf_directory/1942.07.06-Bardolini
4668    http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield.pdf
5257                    http://sharkattackfile.net/spreadsheets/pdf_directory/1905.07.00
5329            http://sharkattackfile.net/spreadsheets/pdf_directory/1899.09.11.R-Guyot
5480     http://sharkattackfile.net/spreadsheets/pdf_directory/1888.10.23.R-Croatia. Pdf
5694            http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu
5834             http://sharkattackfile.net/spreadsheets/pdf_directory/1788.05.10-Sydney
5856          http://sharkattackfile.net/spreadsheets/pdf_directory/1638.00.00.R-Herbert
Name: href formula, dtype: object

In [44]:
data['href formula'] = data['href formula'].str.replace(', pdf', '.pdf')
data['href formula'] = data['href formula'].str.replace('. Pdf', '.pdf')
data['href formula'] = data['href formula'].str.replace('-pdf', '.pdf')
data['href formula'] = data['href formula'].str.replace('.pf', '.pdf')
data['href formula'] = data['href formula'].str.replace('. pdf', '.pdf')
data['href formula'] = data['href formula'].str.replace(' ','')
data['href formula'] = data['href formula'].str.replace('/ .','')

In [45]:
data['href formula'] = data['href formula'].str.replace('/.2014','/2014')

In [46]:
data['href formula'].loc[data['href formula'].str.endswith('.pdf') == False]

157        http://sharkattackfile.net/spreadsheets/pdf_directory/2015.08.19-Szsarmack
343     http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.12.R-inflatable
352         http://sharkattackfile.net/spreadsheets/pdf_directory/2014.03.18.c-Borgna
359         http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.17.R-OneDLL
425       http://sharkattackfile.net/spreadsheets/pdf_directory/2013.07.29.a-Gatewood
1004          http://sharkattackfile.net/spreadsheets/pdf_directory/2008.07.26.a-Maui
2476      http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00.b-Halstead
2714        http://sharkattackfile.net/spreadsheets/pdf_directory/1983.06.00-Starling
3987          http://sharkattackfile.net/spreadsheets/pdf_directory/1957.00.00.i-baby
4481       http://sharkattackfile.net/spreadsheets/pdf_directory/1942.07.06-Bardolini
5257                 http://sharkattackfile.net/spreadsheets/pdf_directory/1905.07.00
5329         http://sharkattackfile.net/spreadsheets/pdf_directory/1899.09.11.R-Guyot
5694         http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu
5834          http://sharkattackfile.net/spreadsheets/pdf_directory/1788.05.10-Sydney
5856       http://sharkattackfile.net/spreadsheets/pdf_directory/1638.00.00.R-Herbert
Name: href formula, dtype: object

**The href formula is as complete and accurate I can. I'm going to delete the href column and rename the href formula column**

In [47]:
data = data.drop(['href'], axis=1)

In [48]:
data = data.rename(index=str, columns={"href formula": "url"})

In [49]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,pdf,url
0,2016.09.18.c,18-Sep-16,2016,13h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
1,2016.09.18.b,18-Sep-16,2016,11h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
2,2016.09.18.a,18-Sep-16,2016,10h43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf
3,2016.09.17,17-Sep-16,2016,NaN,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf
4,2016.09.16,16-Sep-16,2016,NaN,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf

**pdf contains the same information than href, so I will delete it**

In [50]:
data = data.drop(['pdf'], axis=1)

In [51]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,url
0,2016.09.18.c,18-Sep-16,2016,13h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
1,2016.09.18.b,18-Sep-16,2016,11h00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
2,2016.09.18.a,18-Sep-16,2016,10h43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf
3,2016.09.17,17-Sep-16,2016,NaN,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf
4,2016.09.16,16-Sep-16,2016,NaN,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf

### 2.1.4 Columns with a lot of Null Values

**Three more columns have a lot of Nulls, we check them: Age, Time, Species.**

**Lests check the different values of Age**

In [52]:
data['Age'].unique()

array(['16', '36', '43', nan, '60s', '51', '50', '12', '9', '22', '25',
       '37', '20', '49', '15', '21', '40', '72', '18', '29', '31', '11',
       '10', '59', '42', '34', '35', '19', '6', '27', '64', '60', '23',
       '52', '13', '57', '48', '39', '24', '26', '69', '46', 'Teen', '41',
       '45', '65', '38', '71', '32', '58', '28', '54', '44', '14', '7',
       '62', '40s', '68', '47', '17', '30', '63', '70', '18 months', '53',
       '20s', '33', '30s', '50s', '8', '61', '55', 'teen', '66', '77',
       '74', '3', '56', '28 & 26', '5', '86', '18 or 20', '12 or 13',
       '46 & 34', '28, 23 & 30', 'Teens', '36 & 26', '8 or 10', '84',
       '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75', '33 or 37',
       'mid-30s', '73', '23 & 20', '7      &    31', '20?', "60's",
       '32 & 30', '16 to 18', '87', '67', 'Elderly', 'mid-20s', 'Ca. 33',
       '21 or 26', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       'M', '2½', '13 or 14'], dtype=object)

**I will change all the non numeric values by NaN, pass the Age to numeric, fill the NaN to 0.0 and finally convert all the types to integer**

In [53]:
data['Age'] = pd.to_numeric(data['Age'], errors='coerce')

In [54]:
data['Age'].unique()

array([16., 36., 43., nan, 51., 50., 12.,  9., 22., 25., 37., 20., 49.,
       15., 21., 40., 72., 18., 29., 31., 11., 10., 59., 42., 34., 35.,
       19.,  6., 27., 64., 60., 23., 52., 13., 57., 48., 39., 24., 26.,
       69., 46., 41., 45., 65., 38., 71., 32., 58., 28., 54., 44., 14.,
        7., 62., 68., 47., 17., 30., 63., 70., 53., 33.,  8., 61., 55.,
       66., 77., 74.,  3., 56.,  5., 86., 84., 75., 73., 87., 67.,  1.,
       81., 78.])

**Lests check the different values of Time**

In [55]:
data['Time'].unique()

array(['13h00', '11h00', '10h43', nan, '15h15', '14h30', '15h40',
       'Late afternoon', '15h00', '14h00', '17h00', '16h00', '11h30',
       '12h00', '19h05', 'After noon', '1300', '10h00', '14h30 / 15h30',
       '22h00', '16h20', '14h34', '15h25', '14h55', '06h00', '17h30',
       '08h30', 'Morning', 'Afternoon', '15h45', '18h00', '17h46',
       'Morning ', '13h20', '15h49', '07h00', '08h00', '10h45', '19h00',
       '13h30', 'Midnight', '12h30', '09h30 / 10h00', '10h30', '18h15',
       '04h00', '14h50', '13h50', '19h20', '10h25', '16h50',
       '10h45-11h15', '16h45', '15h52', '07h30', '06h15', '14h40',
       '19h45', '17h10', '15h30', '10h10', '08h45', 'Evening', '09h00',
       '12h10', '18h05', '19h30', '11h41', '12h25', '09h30', '17h51',
       '16h12', '12h45', '10h50', '13h45', '14h15', '16h30', '09h45',
       '11h45', '10h20', '18h30', '06h45', '05h00', '03h30', 'Night',
       'Sometime between 06h00 & 08hoo', '06h30', '11h15', '17h20',
       '18h45', '20h00', '16h40', '16h18', '11h10', 'Early afternoon',
       '17h50', '07h00 - 08h00', '18h15-18h30', '17h01', '10h15', '09h57',
       '08h20', '17h58', '20h30', '15h19', '10h55', '15h55', '23h00',
       '12h40', '13h55', '16h05', '14h10', '15h20', '12h50', '14h45',
       '13h40', '13h24', '09h00 - 09h30', '830', '09h40', '11h40',
       '08h10', '15h56', '14h20', 'Just before noon', '07h56', '1600',
       '17h17', '16h35', '09h05', '07h15', '07h20', '19h28', '12h38',
       '05h50', '15h50', '11h05', 'Early morning', 'Dawn', '05h45',
       '13h25', '09h50', '12h20', '13h26', '09h11', '12h15', '13h15',
       'Midday', '17h45', '18h20', '10h40', '15h35', 'AM', '13h51',
       '08h50', 'A.M.', '08h05', '19h15', '10h35', '15h44', 'Dusk',
       '21h00', 'Lunchtime', '15j45', '09h35', '10h27', '10h16', '500',
       '07h45', 'Before 07h00', '09h20', '10h00 -- 11h00', '12h05',
       '14h21', '18h50', '15h53', '"Just before 11h00"', '11h115',
       '08h15', '13h42', '20h15', '12h39', '17h35', '07h05', 'Sunset',
       '  ', '13h05', '11h50', '"Evening"', 'Just before sundown',
       '17h55', '22h30', '17h15', '16h10', '11h30 ', '06h10', '16h15',
       'Between 05h00 and 08h00', '07h08', '17h00 or 17h40', '03h00',
       '>08h00', '--', '12h02', '12h55', '16h14', '17h11', '00h30',
       '14h37', '10h07', '13h53', '11h55', '13h23', 'Just after 12h00',
       '02h30', '08h40', '11h56', '14h35', ' ', 'Early Morning', '07h50',
       'Shortly after midnight', '14h25', '13h345', '\xa0 ', '06h47',
       '09h00 -10h00', '20h45 (Sunset)', '02h00', 'Late morning', 'P.M.',
       '18h40', '13h14', '13h06', '11h20', 'Shortly before 13h00',
       '12h34', '11h53', '8:04 PM', '12h46', '12h48', '17h42', '12h35',
       'Possibly same incident as 2000.08.21', 'After Dusk', '11h57',
       'Noon', '17h40', '11h25', '18h25', '10h28', '09h15', '14h16',
       '09h55', '2 hours after Opperman', '15h05', '09h30 ',
       'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30', '07h19',
       '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51', '18h12',
       '07h10', '07h40', '12h33', '30 minutes after 1992.07.08.a',
       '>06h45', '15h06', '12h54', 'Between 06h00 & 07h20', '16h55',
       '05h40', '<07h30', '21h30', '17h00 Sunset', 'Nightfall', 'X',
       '08h57', '18h30 (Sunset)', '06j00', '08h35', '10h22', '02h45',
       'Prior to 10h37', 'Daybreak', '18h10', '>12h00', 'Mid-morning',
       '08h55', '16h30 or 18h00', 'Just before dawn', ' 14h00', 'Daytime',
       '06h50', '01h00', 'Dark', '10h00 / 11h00', '"After lunch"',
       '23h30', '07h32', '15h00 or 15h45', '>17h00', '19h00 / 20h00',
       '12h45 / 13h45', '14h00 - 15h00', 'night', '03h45 - 04h00',
       '13h10', '09h30 / 15h30', '08h00 / 09h30', '19h35',
       '12h00 to 14h00', '13h35', 'Late night', '01h32', '10h30 or 13h30',
       '16h23', '15h00j', 'Midday.', '"After dark"', '10h00 or 14h00',
       '19h10', '16h25', '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [56]:
data['Time'] = data['Time'].str.replace('h','')
data['Time'] = data['Time'].str.replace('j','')

In [57]:
data['Time'].unique()

array(['1300', '1100', '1043', nan, '1515', '1430', '1540',
       'Late afternoon', '1500', '1400', '1700', '1600', '1130', '1200',
       '1905', 'After noon', '1000', '1430 / 1530', '2200', '1620',
       '1434', '1525', '1455', '0600', '1730', '0830', 'Morning',
       'Afternoon', '1545', '1800', '1746', 'Morning ', '1320', '1549',
       '0700', '0800', '1045', '1900', '1330', 'Midnigt', '1230',
       '0930 / 1000', '1030', '1815', '0400', '1450', '1350', '1920',
       '1025', '1650', '1045-1115', '1645', '1552', '0730', '0615',
       '1440', '1945', '1710', '1530', '1010', '0845', 'Evening', '0900',
       '1210', '1805', '1930', '1141', '1225', '0930', '1751', '1612',
       '1245', '1050', '1345', '1415', '1630', '0945', '1145', '1020',
       '1830', '0645', '0500', '0330', 'Nigt',
       'Sometime between 0600 & 08oo', '0630', '1115', '1720', '1845',
       '2000', '1640', '1618', '1110', 'Early afternoon', '1750',
       '0700 - 0800', '1815-1830', '1701', '1015', '0957', '0820', '1758',
       '2030', '1519', '1055', '1555', '2300', '1240', '1355', '1605',
       '1410', '1520', '1250', '1445', '1340', '1324', '0900 - 0930',
       '830', '0940', '1140', '0810', '1556', '1420', 'Just before noon',
       '0756', '1717', '1635', '0905', '0715', '0720', '1928', '1238',
       '0550', '1550', '1105', 'Early morning', 'Dawn', '0545', '1325',
       '0950', '1220', '1326', '0911', '1215', '1315', 'Midday', '1745',
       '1820', '1040', '1535', 'AM', '1351', '0850', 'A.M.', '0805',
       '1915', '1035', '1544', 'Dusk', '2100', 'Lunctime', '0935', '1027',
       '1016', '500', '0745', 'Before 0700', '0920', '1000 -- 1100',
       '1205', '1421', '1850', '1553', '"Just before 1100"', '11115',
       '0815', '1342', '2015', '1239', '1735', '0705', 'Sunset', '  ',
       '1305', '1150', '"Evening"', 'Just before sundown', '1755', '2230',
       '1715', '1610', '1130 ', '0610', '1615', 'Between 0500 and 0800',
       '0708', '1700 or 1740', '0300', '>0800', '--', '1202', '1255',
       '1614', '1711', '0030', '1437', '1007', '1353', '1155', '1323',
       'Just after 1200', '0230', '0840', '1156', '1435', ' ',
       'Early Morning', '0750', 'Sortly after midnigt', '1425', '13345',
       '\xa0 ', '0647', '0900 -1000', '2045 (Sunset)', '0200',
       'Late morning', 'P.M.', '1840', '1314', '1306', '1120',
       'Sortly before 1300', '1234', '1153', '8:04 PM', '1246', '1248',
       '1742', '1235', 'Possibly same incident as 2000.08.21',
       'After Dusk', '1157', 'Noon', '1740', '1125', '1825', '1028',
       '0915', '1416', '0955', '2 ours after Opperman', '1505', '0930 ',
       'Mid afternoon', 'Mid morning', '1148', '1100 / 1130', '0719',
       '1337', '1106', '"Nigt"', '1830?', '1158', '1151', '1812', '0710',
       '0740', '1233', '30 minutes after 1992.07.08.a', '>0645', '1506',
       '1254', 'Between 0600 & 0720', '1655', '0540', '<0730', '2130',
       '1700 Sunset', 'Nigtfall', 'X', '0857', '1830 (Sunset)', '0835',
       '1022', '0245', 'Prior to 1037', 'Daybreak', '1810', '>1200',
       'Mid-morning', '0855', '1630 or 1800', 'Just before dawn', ' 1400',
       'Daytime', '0650', '0100', 'Dark', '1000 / 1100', '"After lunc"',
       '2330', '0732', '1500 or 1545', '>1700', '1900 / 2000',
       '1245 / 1345', '1400 - 1500', 'nigt', '0345 - 0400', '1310',
       '0930 / 1530', '0800 / 0930', '1935', '1200 to 1400', '1335',
       'Late nigt', '0132', '1030 or 1330', '1623', 'Midday.',
       '"After dark"', '1000 or 1400', '1910', '1625',
       '2 rs before sunset', '1815 to 2130', '"sortly before dusk"',
       '>1730', '>1430', 'Between 1100 & 1200', 'After 0400',
       '1101 -time of sip sinking', 'Sip aban-doned at 0310', '1955',
       'After dusk',
       'FATAL  (Wire netting installed at local beaces after tis incident.)',
       '0130', 'After midnigt', 'Late afternon', '0530', '0858',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 1030', '0600 -- 0700', '0150', '1700-1800',
       '1900-2000'], dtype=object)

In [58]:
data['Time'] = pd.to_numeric(data['Time'], errors='coerce')

In [59]:
data['Time'] = data['Time'].fillna(-1.0)

In [60]:
data['Time'] = data['Time'].astype(int)

In [61]:
data['Time'].unique()

array([ 1300,  1100,  1043,    -1,  1515,  1430,  1540,  1500,  1400,
        1700,  1600,  1130,  1200,  1905,  1000,  2200,  1620,  1434,
        1525,  1455,   600,  1730,   830,  1545,  1800,  1746,  1320,
        1549,   700,   800,  1045,  1900,  1330,  1230,  1030,  1815,
         400,  1450,  1350,  1920,  1025,  1650,  1645,  1552,   730,
         615,  1440,  1945,  1710,  1530,  1010,   845,   900,  1210,
        1805,  1930,  1141,  1225,   930,  1751,  1612,  1245,  1050,
        1345,  1415,  1630,   945,  1145,  1020,  1830,   645,   500,
         330,   630,  1115,  1720,  1845,  2000,  1640,  1618,  1110,
        1750,  1701,  1015,   957,   820,  1758,  2030,  1519,  1055,
        1555,  2300,  1240,  1355,  1605,  1410,  1520,  1250,  1445,
        1340,  1324,   940,  1140,   810,  1556,  1420,   756,  1717,
        1635,   905,   715,   720,  1928,  1238,   550,  1550,  1105,
         545,  1325,   950,  1220,  1326,   911,  1215,  1315,  1745,
        1820,  1040,  1535,  1351,   850,   805,  1915,  1035,  1544,
        2100,   935,  1027,  1016,   745,   920,  1205,  1421,  1850,
        1553, 11115,   815,  1342,  2015,  1239,  1735,   705,  1305,
        1150,  1755,  2230,  1715,  1610,   610,  1615,   708,   300,
        1202,  1255,  1614,  1711,    30,  1437,  1007,  1353,  1155,
        1323,   230,   840,  1156,  1435,   750,  1425, 13345,   647,
         200,  1840,  1314,  1306,  1120,  1234,  1153,  1246,  1248,
        1742,  1235,  1157,  1740,  1125,  1825,  1028,   915,  1416,
         955,  1505,  1148,   719,  1337,  1106,  1158,  1151,  1812,
         710,   740,  1233,  1506,  1254,  1655,   540,  2130,   857,
         835,  1022,   245,  1810,   855,   650,   100,  2330,   732,
        1310,  1935,  1335,   132,  1623,  1910,  1625,  1955,   130,
         530,   858,   150])

In [62]:
data['hour'] = round(data['Time']/100).astype(int)

In [63]:
data['hour'].loc[data['hour'] > 24] = -1

In [64]:
data['hour'].loc[data['hour'] == 0] = '00'
data['hour'].loc[data['hour'] == 1] = '01'
data['hour'].loc[data['hour'] == 2] = '02'
data['hour'].loc[data['hour'] == 3] = '03'
data['hour'].loc[data['hour'] == 4] = '04'
data['hour'].loc[data['hour'] == 5] = '05'
data['hour'].loc[data['hour'] == 6] = '06'
data['hour'].loc[data['hour'] == 7] = '07'
data['hour'].loc[data['hour'] == 8] = '08'
data['hour'].loc[data['hour'] == 9] = '09'

In [65]:
data['hour'].unique()

array([13, 11, 10, '00', 15, 14, 17, 16, 12, 19, 22, '06', '08', 18, '07',
       '04', '09', '05', '03', 20, 23, 21, -1, '02', '01'], dtype=object)

In [66]:
data['min'] = round(data['Time']%100).astype(int)

In [67]:
data['min'].loc[data['min'] > 59] = -1

In [68]:
data['min'].loc[data['min'] == 0] = '00'
data['min'].loc[data['min'] == 1] = '01'
data['min'].loc[data['min'] == 2] = '02'
data['min'].loc[data['min'] == 3] = '03'
data['min'].loc[data['min'] == 4] = '04'
data['min'].loc[data['min'] == 5] = '05'
data['min'].loc[data['min'] == 6] = '06'
data['min'].loc[data['min'] == 7] = '07'
data['min'].loc[data['min'] == 8] = '08'
data['min'].loc[data['min'] == 9] = '09'
data['min'].loc[data['hour'] == -1] = ''

In [69]:
data['min'].unique()

array(['00', 43, -1, 15, 30, 40, '05', 20, 34, 25, 55, 45, 46, 49, 50, 52,
       10, 41, 51, 12, 18, '01', 57, 58, 19, 24, 56, 17, 35, 28, 38, 26,
       11, 44, 27, 16, 21, 53, '', 42, 39, '08', '02', 14, 37, '07', 23,
       47, '06', 48, 33, 54, 22, 32], dtype=object)

In [70]:
data['Time'] = data['hour'].astype(str) + ':' + data['min'].astype(str)

In [71]:
data['Time'].loc[data['hour'] == -1] = ''
data['Time'].loc[data['min'] == -1] = ''

In [72]:
data['Time'].unique()

array(['13:00', '11:00', '10:43', '', '15:15', '14:30', '15:40', '15:00',
       '14:00', '17:00', '16:00', '11:30', '12:00', '19:05', '10:00',
       '22:00', '16:20', '14:34', '15:25', '15:55', '06:00', '17:30',
       '08:30', '15:45', '18:00', '17:46', '13:20', '15:49', '07:00',
       '08:00', '10:45', '19:00', '13:30', '12:30', '10:30', '18:15',
       '04:00', '14:50', '19:20', '10:25', '16:50', '16:45', '16:52',
       '07:30', '06:15', '14:40', '19:45', '17:10', '15:30', '10:10',
       '08:45', '09:00', '12:10', '18:05', '19:30', '11:41', '12:25',
       '09:30', '18:51', '16:12', '12:45', '10:50', '13:45', '14:15',
       '16:30', '09:45', '11:45', '10:20', '18:30', '06:45', '05:00',
       '03:30', '06:30', '11:15', '17:20', '18:45', '20:00', '16:40',
       '16:18', '11:10', '18:50', '17:01', '10:15', '10:57', '08:20',
       '18:58', '20:30', '15:19', '11:55', '16:55', '23:00', '12:40',
       '14:55', '16:05', '14:10', '15:20', '12:50', '14:45', '13:40',
       '13:24', '09:40', '11:40', '08:10', '16:56', '14:20', '08:56',
       '17:17', '16:35', '09:05', '07:15', '07:20', '19:28', '12:38',
       '06:50', '11:05', '05:45', '13:25', '12:20', '13:26', '09:11',
       '12:15', '13:15', '17:45', '18:20', '10:40', '15:35', '14:51',
       '08:50', '08:05', '19:15', '10:35', '15:44', '21:00', '09:35',
       '10:27', '10:16', '07:45', '09:20', '12:05', '14:21', '16:53',
       '08:15', '13:42', '20:15', '12:39', '17:35', '07:05', '13:05',
       '18:55', '22:30', '17:15', '16:10', '06:10', '16:15', '07:08',
       '03:00', '12:02', '13:55', '16:14', '17:11', '00:30', '14:37',
       '10:07', '14:53', '12:55', '13:23', '02:30', '08:40', '12:56',
       '14:35', '14:25', '06:47', '02:00', '18:40', '13:14', '13:06',
       '11:20', '12:34', '12:53', '12:46', '12:48', '17:42', '12:35',
       '12:57', '17:40', '11:25', '18:25', '10:28', '09:15', '14:16',
       '10:55', '15:05', '11:48', '07:19', '13:37', '11:06', '12:58',
       '12:51', '18:12', '07:10', '07:40', '12:33', '15:06', '13:54',
       '17:55', '05:40', '21:30', '09:57', '08:35', '10:22', '02:45',
       '18:10', '09:55', '01:00', '23:30', '07:32', '13:10', '19:35',
       '13:35', '01:32', '16:23', '19:10', '16:25', '20:55', '01:30',
       '05:30', '09:58', '02:50'], dtype=object)

In [73]:
data = data.drop(['min'], axis=1)

In [74]:
data = data.drop(['hour'], axis=1)

In [75]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator or Source,url
0,2016.09.18.c,18-Sep-16,2016,13:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16.0,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
1,2016.09.18.b,18-Sep-16,2016,11:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36.0,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
2,2016.09.18.a,18-Sep-16,2016,10:43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43.0,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf
3,2016.09.17,17-Sep-16,2016,,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf
4,2016.09.16,16-Sep-16,2016,,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf

**Lests check the different values of species**

In [76]:
species = data['Species'].unique()

In [77]:
for specie in species:
    print(specie)

nan
2 m shark
3' to 4' shark
Tiger shark, 10?
White shark
Bull shark, 6'
Bull shark, 3.5 m
Tiger shark, 10'
Blacktip shark
Blue shark
Nurse shark, 4'
reef shark, 1m
Lemon shark, 9'
Angel shark
dogfish shark
Tawny nurse shark
Caribbean reef shark, 4.5'
3' to 5' shark
5' shark
3' shark
Said to involve an 8' shark but more likely damage caused by debris
3+ m shark
Mako shark
Bronze whaler sharks x 3
3 m shark
Bull shark, 4' to 5'
Blacktip shark, 4'
Nurse shark, 2'
Mako shark, 1.5 m [5']
Wobbegong shark
Grey reef shark, 2 m
Bull shark, 7'
Tiger shark, 2.5 m
Shark involvement not confirmed
5' to 6' shark
Nurse shark, 2.5-ft
Bronze whaler
Sandtiger shark
No shark involvement
Reef shark, 5'
Bull sharks x 2
Tiger shark, 14'
White shark, 3 m
Silky shark, 6.5'
9' shark
Bronze whaler shark, 6'
Tiger shark, 1.5 m
White shark, 3.5 m
Bull shark
Spinner shark, 7'
Bull shark, 2.8 to 3.1 m
White shark, 3 to 3.5m
Spinner shark, 5'
Tiger shark, 7'
Hammerhead sp.
Tiger shark, 13'
4' to 5' shark
Blacktip shark, 4' to 5'
Blacktip shark, 5' to 6'
White shark, 19'
juvenile shark
Tiger shark, 13'
4' shark
6' shark
White shark, 11' to 12'
Hammerhead shark.
White shark, 2.5 m
4' shark?
small shark
Tiger shark
White shark, 10' to 12'
White shark, 13'
Hammerhead shark. 6' to 7'
Blacktip or spinner shark, 4'
Thought to involve a 3' to 4' shark, but shark involvement not confirmed
Mako shark, 100-lb
Bronze whaler shark, 1.5m
Bull shark, 2m
White shark, 7'
Shark involvement not cofirmed
6' to 7' shark
White shark, 2m to 3 m
Bull shark, 5'
small nurse shark
Bull shark, 2.5 m
1m to 1.2 m shark
3- to 4-foot shark
White shark, 6 m
Blue shark, 8 to 9 feet
White shark, 4 m
Tiger shark, 8 to 12 feet
Blacktip Reef shark
Tiger shark, 3.5 m
3.5 to 4 m shark
2 m to  3 m shark
1.8 m shark
Bull shark, 1.3 m
5 m shark
1.5 m shark
White shark or oceanic whitetip shark
Raggedtooth shark, 1.3 m
"A small shark"
White shark, 4 to 5 m
Shark involvement prior to death still to be determined
Shark involvement not confirmed & highly unlikely
White shark, 8' to 10'
Goblin shark
2' shark
Tiger shark, 12'
12' to 14' shark
1 m shark
Bull shark, 3' to 4'
White shark, 18' to 20'
8' to 10' shark
2 white shark: 13' & 9"8"
7' shark
White shark, 12' to 14'
Spinner shark
Spinner shark or blacktip shark
4' to 6' shark
Bull shark, 4.5'
reef shark
 Bull shark, 8'
Bull shark, 9' to 10'
 Bull shark, 5'
4' tp 5' shark
Possibly juvenile tiger shark
1.8 metre shark
6' to 8' shark
 White shark, 7'
Oceanic whitetip shark'
Caribbean reef shark, 7' to 8'
 Lemon shark, 3.5 m
 Sandbar shark, 3' to 4'
 Bull shark, 1.2m
3m shark
 Tawney nurse shark, 1m
Galapagos shark
 white shark, 15'
reef shark?
 Raggedtooth shark, 2m
3 m to 4 m white shark
Blacktip or spinner shark?
Blacktip reef shark
7-gill shark?
1m shark
7-gill shark
Reported to involve a bull shark
White shark, 3m
Tiger shark, 10' to 12'
 Wobbegong shark, 1.6 to 1.8m
Tiger shark, 3m
Thought to involve a white shark
White shark, 10 '
Reported to involve a white shark
Blacktip reef shark, 1m
Thought to involve a bull shark
Reported to involve a 4 m white shark
Whitetip reef shark, 4' to 6'
Nurse shark?
Small bull shark
Nurse shark
Salmon shark
Mako shark, 5'
Tiger shark?
Bull shark, 8'
Bull shark, 6' to 8'
Tiger shark, 8' to 10'
Possibly a Bull shark, 3'
Lemon shark, 4'
a small shark
Wobbegong, 2m
Grey nurse shark, 3m
Possibly a blacktip reef shark
shark involvement not confirmed
Raggedtooth shark, 1.5 m
Tiger shark, 4.8 m
Bronze whaler shark, 2.5m
"small sharks"
White shark, 4m
Lemon shark
White shark, 5m
Tiger shark, 15'
Bronze whaler shark, 3m
2.5 m shark
Bull shark, 2m
Tiger shark, 6'
10' shark
Seven-gill shark
Tiger shark, 10'
2' to 3' shark
Tiger shark, 8'
Tiger shark, 10' to 12'
White shark, 15' to 16'
2m shark
Possibly a 3 m bull shark
3.5' to 4' shark
Porbeagle shark, 7'
4.5 m shark
Lemon shark, 4' to 5'
Lemon shark, 2.5m to 3m
White shark or bronze whaler
Salmon shark suspected, but unlikely
14' to 18'shark
15' shark
possibly a bull shark
a small reef shark
small blacktip shark?
Blacktip shark
Blue shark, 2.5m
White shark, 2 m
18" to 24" shark
Bull shark, 3m
Tiger shark, 8' to 9'
White shark, 4 m to 5m
White shark, 6m
Tiger shark, 10'
White shark, 4m
Possibly a bull shark
Possibly a 5' to 6' bull shark
Tawny nurse shark, 40cm
Grey nurse shark
White shark, 7m
Tiger shark, 3m
Blue shark, 70-kg blue shark
White shark, 2.7 m
Allegedly a 4 m tiger shark
7' to 8' shark
White shark, 2.5m
Wobbegong shark?
White shark, 15' to 16'
Raggedtooth shark
White shark, 10'
White shark, 15'
Port Jackson shark, 1m
10' to 12' shark
2 to 2.5 m shark
Tiger shark, 2m
6' shark, possibly a blactip or spinner shark
Shark involvement prior to death not confirmed
White shark, >6'
Possibly a 5' to 6' sandtiger shark
4 m shark
Grey reef shark
White shark, 3m to 4m
Dusky shark, 3m
White shark, 5' k
Oceanic whitetip shark, 7'
Sevengill shark, 6' to 8'
 Tiger shark, 2.8m
Zambesi shark
Sandbar shark ,8'
Bull shark, 12'
reef shark, 1.5m
1' to 2' shark
possibly a bronze whaler shark
 Bull shark, 2.5 m
Blacktip shark pup
Bull shark, 2.5m
3 m to 4 m shark
White shark x 2
Caribbean reef shark
Oceanic whitetip shark, 2.5m
Mako shark
Oceanic whitetip shark, 2.5m, female
Porbeagle shark, 8'
White shark, 14' to 18'
Bull shark, 1.4m
Possibly a 6' lemon shark
Possibly a small blacktip shark
Sandtiger shark, 4' to 5'
A small spinner shark
Nurse shark, juvenile
Blue shark, 7'
8' shark
20 to 30kg shark
Lemon shark, 6'
14' shark
Oceanic whitetip shark, 6'
Possibly a blue shark
Wobbegong shark, 1.6m
2 m to 3 m shark
Spinner shark, 6'
Thought to involve a juvenile hammerhead shark
Whitetip reef shark, 1m
Zambesi shark, 2m
White shark, 2.8 to 3 m
Sandtiger shark, 8'
Thresher shark
Bull shark, 10'
Spurdog
White shark, 5' to 6' juvenile
White shark, 2m
Tiger shark, 12
Bull shark?
Shark involvement questionable
Caribbean reef shark, 6'
Nurse shark, 6'
Thought to involve a Bronze whale shark, 2m
Shark involvement probable, but not confirmed
Oceanic whitetip shark
Oceanic whitetip shark, 2.5 to 3m
80 kg shark
5' to 8' shark
blacktip or spinner shark
White shark, 12' to 15' female
Bronze whaler shark?
Blacktip reef shark pup
Thought to involve a cookie cutter shark
Wobbegong shark, 60cm
Blue shark, 1m
2.6 m shark
White shark, 2.5m
Bull shark, 2.7 m
White shark, 12'
White shark, 5.5 m
Dusky shark, 2m
White shark, 3.5m
Mako shark, 3m
Broadnose sevengill shark
White shark, 4m to 5m
4 to 5m white shark
Raggedtooth shark, 2m
White shark, 4.5 to 5 m
Zambesi shark?
Bronze whaler shark
 reef shark, 1.8m
5 m white shark
+3' shark
2' to 3' juvenile shark
White shark, 14' to 16'
8' bull shark or Caribbean reef shark
8' white shark or 7-gill shark
3'  shark
2'  shark
2' to 3' reef shark
Starry smoothhound shark, 1m
Bull shark, 6' to 7'
White shark, 4.5m
4.5 to 5' shark
Basking shark
Tiger sharks in area
2 small bull sharks
Bull shark, 1.8m
White shark, 12' to 15'
Tiger shark, 2.3m
Tiger shark, 13' female
Reported by media as shark attack, but shark involvement prior to death was not confirmed
Shark involvement not confirmed; thought to be a barracuda bite
1.5' to 2' shark
2.5' shark
A bull shark, according to some of the divers on the boat
Blacktip shark, 2m
Mako shark, 90kg
Bronze whaler shark, 4m
Nurse shark, 10'
Possibly a hammerhead shark
"a small shark"
Not a shark attack; it was a hoax
2.27 m shark
1.5 to 2 m shark
Blacktip shark, 5'
Oceanic whitetip sharks were in the vicinity
Gray reef shark
9.5' shark?
Nurse shark, 2' to 3'
Possibly a spinner shark
White shark, 12'
Sand shark
Possibly a 6' bull shark

Possibly a 10' bull shark
Bronze whaler shark, 1.5 m
3' small spotted catshark, Scyliorhinus canicula
Bull shark, 5'
Lemon shark, 6' female
A 10-year-old 94-pound pregnant blacktip reef shark
Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length
White shark, 2m
Tiger shark, 14'
Lemon shark, >1 m
Bull shark, 10'
White shark, 3m
2.4 m shark
24" to 30" shark
6' to 8' shark, possibly a tiger shark
2.5 to 3 m shark
2 to 3 m shark
White shark, 12' to 15'
Raggedtooth shark, 150-kg
White shark, 5m
Bull shark, 1.5m
White shark, 16'
1' to 4' shark
3' to 3.5' shark
White shark, 3.5m
small catsharks
White shark?
Thought to involve a mako shark, but possibly a sea lion
Bull shark, 4' to 5'
Angel shark, 1.2m
Shark involvement not confirmed, injury may have been caused by a bluefish
Bull or tiger shark
5' to 6' spinner or bull shark
1.8 m blacktip "reef" shark
Possibly a 1' to 3' blacktip or spinner shark
14' white shark
Tiger shark, 8' to 12'
Tiger shark, 15' female
Grey reef shark, 5' to 8'
Wobbegong shark, 2 m
Bull shark, 4' to bull shark
Bronze whaler shark, a  juvenile
Raggedtooth shark, 2.5 m to 3 m
3 m, 600-kg shark
Tiger shark, 5'
Bronze whaler shark, 2 m
5' to 7' shark
4.5 m white shark
12' to 18' shark
12' shark
3.5 m white shark
Said to involve a 1.5 m shark
Whitetip reef shark
4 m white shark
3 m white shark
Raggedtooth shark, 2.5m
12' to 14' white shark
18' white shark
Tiger shark, less than 10'
Caribbean reef sharks
Tiger shark, 3 m
14' to 16' white shark
4 m [13'] white shark
2 m [6.75'] shark, 200-kg shark T
juvenile white shark
possibly a small blacktip shark
Possibly a sandbar shark or small blacktip shark
1.8 m [6'] shark
3.5 m [11.5']shark
[4.5' to 5'] shark
[4' to 5']
1.8 m [6'] bull shark
On 8/13/2005 anglers from New Zealand caught a 2.8 m [9'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha
Unknown, but it was reported that a shark tooth was recovered from the wound
3 m [10'] white shark
Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident
"small shark"
18" to 36" shark
Tiger shark, 3 m [10']
2 m [6.75'] copper shark
1.8 m [6'] blacktip shark
small hammerhead shark
4 m [13'] shark
6 m [20'] white shark
Sandtiger shark, 2.1 m [7']
Tiger shark, 2.5 m [8.25']
Bronze whaler shark, 4.3 m [14']
Nurse shark, 3'
Tiger shark, 2.4 m [8']
1.8 m [6'] Caribbean reef shark
3 m [10'] shark
Bronze whaler shark, 2 m to 3 m [6.75' to 10']
4.5 m & 5 m white shark
5.5 m [18'] white shark
2.5 m [8.25'] bull shark
2 m [6.75'] white shark
Bronze whaler shark, 2.4 m [8']
1.8 m to 2.4 m [6' to 8'] white shark
Tiger shark, 2.4 m to 3.7 m [8' to 12']
Raggedtooth shark, 1.5 to 2 m [5' to 6.75']
Thought to involve a 2.5 m bull or tiger shark
Tiger shark, 3 m [10']
2.4 m [8'] shark
0.9 m to 1.2 m [3' to 4'] white shark
4.9 m to 5.5 m [16' to 18'] white shark
1.2 m [4'] shark
3 m to 4 m [10' to 13']  white shark
1.2 m to 1.5 m [4' to 5'] shark
Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb]
2 sharks, 4.5 m & 3 m
"black tipped" shark
9'2" white shark
Bronze whaler shark, 2.5 m [8.25']
0.9 m to 1.5 m [3' to 5'] shark
2.4 m to 3.7 m [8' to 12'] shark
1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)
Mako shark, 1.8 m [6']
Wobbegong shark, 1.2 m [4'] k
White shark, 5.5 m [18']
small sharks
5 m [16.5'] white shark
1.2 m [4'] bull shark
bull shark
Tiger shark, 2.4 m to 3 m [8' to 10']
Bronze whaler shark, 1.5 m [5']
2 m [6.75'] sevengill  shark
60 cm [23.6"] blind or brown shark
4 m to 5 m [13' to 16.5'] white shark
Possibily a  1.5 to 2 m sandtiger shark
Shark involvement doubtful
Bull shark, 1.65 m [5'5"] was speared & killed
Bull shark, 132-kg [291-lb]
Mako shark, 3 m to 4 m [10' to 13']
Raggedtooth shark, 3.5 m [11.5']
Shortfin mako shark
Questionable Incident
Wobbegong shark, 1.2 m [4']
Tiger shark, 4 m [13']  ?
2.5 oceanic whitetip shark
Nurse shark, 60 cm to 90 cm [2' to 3']
1.5 m [5'] shark, either a bronze whaler or a grey nurse shark
1.2 m [4'] "grey-colored shark"
2 m cow shark
4.5 m to 5.5 m [15' to 18'] white shark
3.5 m [11.5'] white shark
Unidentified species
1.5 m to 1.8 m [5' to 6'] shark
2.1 m  [7'] bull shark
8' great hammerhead shark
Grey reef shark
106 cm [3.5']  shark
small brown shark
3.7 m to 4.3 m [12' to 14'] shark
"sand shark"
1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark
0.9 m to 1.2 m [3' to 4'] shark
A small shark
15 cm to 20 cm [6" to 8"] bite diameter just below left knee
Mako shark, 3 m [10']
60 cm [2'] captive shark
2.5 m [8.25'] white shark
Species unidentified
Thought to involve a 2 m [6.75'] grey nurse shark
Thought to involve a >2 m [6.75'] bull shark
Reported to involve a hammerhead shark
White shark, 4 m white shark
Wobbegong shark, 1m
Shark involvement not confirmed, injury may be due to a stingray
3 m to 4.5 m [10' to 15'] white shark
2.4 m to 3 m [8' to 10'] grey colored shark
1.8 m to 2.1 m [6' to 7']  Caribbean Reef Shark
Possibly a bull shark or tiger shark
Blacktip or spinner shark
3.5' to 4.5' shark
1.2 m [4'] blacktip shark
Tiger shark, 1.5 m [5']k
3 m to 3.7 m [10' to 12'] shark
1' to 2' hammerhead or bonnethed shark
0.9 m  to 1.2 m [3' to 4'] shark
Nurse shark, 1.5 m [5']
Sandtiger shark, 3 m [10']
1.2 m [4'] blacktip or sandbar shark
Bull shark, 1.8 m to 2.1 m [6' to 7']
Mako shark, 400-lb
1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark
Tiger shark, 2.4 m to 2.7 m [8' to 9']
0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand

1.5 to 2.5 m [5' to 8.25'] copper shark
3.7 m to 4.3 m [12' to 14'] white shark
1 m  shark
3' blacktip shark
2.1 m to 2.4 m [7' to 8'] shark
White shark, 6m [20']
Bull shark, 400-lb
0.9 m [3'] shark
Nurse shark, 1m
Spinner shark, 3' to 4'
Shark involvement prior to death unconfired
1.5 m [5'] "whaler shark"
C. leucas tooth fragment recovered from kayak
Unidentified
Tiger shark, 1.8 m [6']
Mako shark, 2 m [6.75']
Tiger shark, 1.8 m [6']
Questionable incident - shark bite may have precipitated drowning
2' to 3.5' shark
12' sandtiger shark
A large white shark was filmed by divers on a local wreck 2 days prior to the incident.
1.5 m [5'] shark
3 m [10'] bull shark
Possibly  a blacktip or spinner shark
3' shark, possibly  a blacktip or spinner shark
Blacktip shark, 5' to 6'
1.9 m [6.5'] bull shark
Mako shark, 14'
0.9 m  [3'] shark
Bull shark, 2.3 m [7.5']
White shark, 2.4 m to 3 m [8' to 10']
1.2 m to 1.5 m [4.5' to 5'] shark
White shark, 2.7 m to 3 m [9' to 10']
Possibly a juvenile blacktip or spinner shark
Possibly a 1.5 m [5'] blacktip or spinner shark
1 m shark, possibly whitetip reef shark
White shark, 2.7 m [9']
Spinner shark, 1.2 m to 1.5 m [4' to 5']
Tiger shark, 8'
White shark, 5 m [16.5']
Bronze whaler shark, 2.5 m [8.25']  k
2 m [6.75'] shark
White shark, 4.3 m [14']
1.8 m to 2.4 m [6' to 8'] "black finned shark"
6 m [20'] shark
White shark, 4.5 m [14'9"]
Porbeagle shark, 3 m [10']rk
Tiger shark, 4 m
1.2 m to 1.8 m [4' to 6'] shark
Bull shark, 1.5 m to 1.8 m [5' to 6']
White shark, 4.9 m [16']
Tiger shark, 1.8 m to 2.4 m [6' to 8']
2.1 to 2.4 m [7' to 8'] shark
Blacktip shark, 2'
White shark, 4.3 m [14']
White shark, 4 m to 5 m [13' to 16.5']
100-kg [221-lb] dead blue shark
White shark, 2.5 m
60 cm to 90 cm [2' to 3'] shark
White shark, 3.5 m [11.5']  male
Thought to involve a Zambesi shark
A 2' shark was seen in the area by witnesses
Thought to involve a 2.7 m [9'], 400-lb bull shark
Tiger shark, 3.7 m to 4.5 m [12' to 14'9"]
Blacktip shark, 2.4 m to 3 m [8' to 10']
Shark involvement  not confirmed
Nurse shark, 1.5 m [5']
1.8 m [6'] grey-colored shark
Grey reef shark, 2 m [6.75']
Lemon shark, 2.1  m to 2.4 m [7' to 8']
Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?
Nurse shark, 1.2 m [4']
0.9 m [3'] shark,  probably a blacktip or spinner shark
Bull shark, 2.4 m [8']
Blacktip shark, 1.2 m to 1.8 m [4' to 6']
Tiger sharks & bull sharks (20 sharks in all)
Tiger shark, 4 m [13'] ?
2 m to 2.5 m [6.75'  to 8.25'] shark
Shark involvement  questionable
Shortfin mako shark, 3 m to 3.4 m [10' to 11']
Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks
Hammerhead shark
Sevengill shark
Thought to involve a white, bull or tiger shark
Thought to involve a 1.2 to 1.5 m tubarão da gralha preta -  a blacktip shark, C. limbatus?
White shark, 3 m [10']
1.3 to 1.6 m shark
Grey reef shark, 1.2 m [4']
Lemon shark, 2.7 m [9']
Said to involve a 7 m [23'] white shark
2.7 m [9']  bull shark or Caribbean reef shark
White shark, 3 m to 5 m [10' to 16.5']
Bull shark, 2.1 m [7']
Blacktip shark, 1.8 m [6']
White shark, 4 m [13']
Grey reef shark, 1.5 m
3 bull sharks
Sevengill shark, 2.4 m [8']
200 to 300 kg shark
Mako shark, 1.3 m gaffed
3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity
Bronze whaler or tiger shark
White shark, 4.6 m [15']
Possibly a white shark
A "small shark"
White shark, 5 m  to 6 m [16.5' to 20']
Though to involve a white shark
White shark, 5 m to 6 m [16.5' to 20']
Dusky shark, 12'
Caribbean reef shark, 1.2 m to 1.5 m [4' to 5']
4.5' to 5' shark
Sandtiger shark, 2 m, male
White shark, 4.9 m [16']
Raggedtooth shark, 1.2 m [4']
Thought to involve a 5.5 m white shark named Kong
3 m to 4 m [10' to 13'] white shark
Lemon shark, 1.5 m [5'], identified  by the surfer
1.8 m [6'] shark, possibly a blacktip
Nurse shark, 0.9 m [3']
5' spinner shark
1.7 m shark
Small dusky shark or blackfin shark
sandtiger shark
Shark involvement in his death uncofirmed
Tiger shark, 4 m to 4.3 m [13' to 14']
Possibly a blacktip shark
Soupfin shark
small blacktip shark
Tiger shark, 5.2 m [17']
Thought to involve an oceanic whitetip shark or a white shark
"juvenile shark"
Tiger shark, 2.7m  [9']
1.2 m [4'] shark (spinner shark?)
Possibly a sand shark
Possibly a Caribbean reef shark
3.7m  to 4.2 m white shark
Tiger shark, 2m to 3m
1.8 m to 2.1 m [6' to 7'] shark
Tiger shark, 4.5 m [14'9"]
3 m to 5 m [10' to 16.5'] white shark
5.5 m to 6 m [18' to 20'] white shark
"a young shark"
Tiger shark, 2.4 m [8']
1.8 m to 2.1 m [6' to 7'] hammerhead shark
said to involve an oceanic whitetip shark
2.5 m [8.25'] white shark
60 cm to 90 cm [2' to 3'] blacktip or spinner shark
nurse shark
"reef shark"
Nurse shark, 0.9 m  [3']
Possibly a tiger shark
Mako shark, 4.3 m [14']
Tiger shark, 300-kg [662-lb]
Tiger shark, 2.5 m [8.25']
1.2 m to 1.5 m [4' to 5']   shark
1.5 to 1.8 m [5' to 6'] shark
3 m to 3.7 m [10' to 12'] bull shark
"sand" shark
Two 1.2 m to 1.5 m [4' to 5'] sharks
1.8 m [6'] grey reef shark
White shark (tooth fragment recovered)
Tiger shark, 3.7 m [12']
Though to involve a tiger shark
3.7 m [12'] shark
Probable bluefish bite
Bronze whaler shark, 2 m
Leopard shark
5 m to 5.5 m [16.5' to 18'] white shark
Raggedtooth shark, 2.7 m [9']
2.7 m [9'] shark
Thought to involve a small sand shark
Small shark
3 to 3.5 m [10' to 11.5'] bull shark
1.2 m [4'] spinner shark
2.1 m [7'] shark
>1.8 m [6'] shark
Blue shark bites post mortem
3 m [10'], 200-kg [441-lb] bull shark
4.9 m white shark
3.6 m [11'9"] white shark
Lemon shark, 4'
1.3 m [4'3"] shark
Tiger shark said to be 5 to 7 m [16.5' to 23']
On 11-Jan-1994, his remains washed ashore. A 2.4 m [8'] tiger shark thought to be involved
Tiger shark caught 6 days later with divers remains in its gut
>6 m [20'] white shark
3.7 m [12'] white shark
1.8 m [6'] blacktip shark or Caribbean reef shark
>6 m white shark, according to witnesses
5.5 m to 6 m [18' to 20']  white shark
1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered
Thought to involve a tiger shark
Remains recovered from 5.5 m [18'] white shark
Possiby white shark
Tiger shark, 3.7 m [12'], (tooth fragment recovered from wound)
Two 3 m [10'] oceanic whitetip sharks
Tiger shark, 3 m to 4.9 m [10' to 16']
Mako shark, 1.8 m [6']
6' to 7' blacktip shark
5 m to 6 m white shark
3 m hammerhead shark
Unidentified shark
Tiger shark, 3 m to 3.7 m [10' to 12']
Tiger shark, 4.3 m [14']
4.2 m white shark
4 m to 5 m [13' to 16.5']  white shark
Nurse shark, 3', 20-lb
Cookie cutter shark
Bull shark or lemon shark
White shark, identification by K. Nakaya
Shark involvement prior to death was not confirmed
Tiger shark, 3 m to 4 m [10' to 13']
4 m [13'], 590-kg white shark
>2 m shark
Bronze whaler shark, 3 m
5 m [16.5'] white shark, identification by K. Nakaya
Said to involve a 6 m to 7 m [20' to 23'] white shark
5 m [16.5'] shark

12' tiger shark
Blue pointers
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable

**Species is to diverse, not usefull for the study. I will delete it**

In [78]:
data = data.drop(['Species'], axis=1)

In [79]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Investigator or Source,url
0,2016.09.18.c,18-Sep-16,2016,13:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16.0,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
1,2016.09.18.b,18-Sep-16,2016,11:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36.0,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
2,2016.09.18.a,18-Sep-16,2016,10:43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43.0,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf
3,2016.09.17,17-Sep-16,2016,,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf
4,2016.09.16,16-Sep-16,2016,,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf

**Let's Work with the column YEAR**

In [80]:
data['Year'].unique()

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995,
       1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987, 1986,
       1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974,
       1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941,
       1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930,
       1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919,
       1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908,
       1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897,
       1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886,
       1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875,
       1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864,
       1863, 1862, 1861, 1860, 1859, 1858, 1856, 1855, 1854, 1853, 1852,
       1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841, 1840, 1839,
       1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828, 1827, 1826,
       1825, 1822, 1819, 1818, 1817, 1816, 1812, 1811, 1807, 1805, 1804,
       1803, 1800, 1791, 1788, 1787, 1785, 1779, 1776, 1771, 1767, 1764,
       1758, 1749, 1755, 1748, 1742, 1738, 1733, 1721, 1703, 1700, 1642,
       1638, 1637, 1617, 1595, 1580, 1555, 1554, 1543,  500,   77,    5,
          0])

In [81]:
data['Year'].loc[data['Year'] == 0] = np.nan

In [82]:
data['Year'].unique()

array([2016., 2015., 2014., 2013., 2012., 2011., 2010., 2009., 2008.,
       2007., 2006., 2005., 2004., 2003., 2002., 2001., 2000., 1999.,
       1998., 1997., 1996., 1995., 1984., 1994., 1993., 1992., 1991.,
       1990., 1989., 1969., 1988., 1987., 1986., 1985., 1983., 1982.,
       1981., 1980., 1979., 1978., 1977., 1976., 1975., 1974., 1973.,
       1972., 1971., 1970., 1968., 1967., 1966., 1965., 1964., 1963.,
       1962., 1961., 1960., 1959., 1958., 1957., 1956., 1955., 1954.,
       1953., 1952., 1951., 1950., 1949., 1948., 1848., 1947., 1946.,
       1945., 1944., 1943., 1942., 1941., 1940., 1939., 1938., 1937.,
       1936., 1935., 1934., 1933., 1932., 1931., 1930., 1929., 1928.,
       1927., 1926., 1925., 1924., 1923., 1922., 1921., 1920., 1919.,
       1918., 1917., 1916., 1915., 1914., 1913., 1912., 1911., 1910.,
       1909., 1908., 1907., 1906., 1905., 1904., 1903., 1902., 1901.,
       1900., 1899., 1898., 1897., 1896., 1895., 1894., 1893., 1892.,
       1891., 1890., 1889., 1888., 1887., 1886., 1885., 1884., 1883.,
       1882., 1881., 1880., 1879., 1878., 1877., 1876., 1875., 1874.,
       1873., 1872., 1871., 1870., 1869., 1868., 1867., 1866., 1865.,
       1864., 1863., 1862., 1861., 1860., 1859., 1858., 1856., 1855.,
       1854., 1853., 1852., 1851., 1850., 1849., 1847., 1846., 1845.,
       1844., 1842., 1841., 1840., 1839., 1837., 1836., 1835., 1834.,
       1832., 1831., 1830., 1829., 1828., 1827., 1826., 1825., 1822.,
       1819., 1818., 1817., 1816., 1812., 1811., 1807., 1805., 1804.,
       1803., 1800., 1791., 1788., 1787., 1785., 1779., 1776., 1771.,
       1767., 1764., 1758., 1749., 1755., 1748., 1742., 1738., 1733.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,   nan])

**It seems there are some outliers of the Year Column. Lets find them**

In [83]:
stats = data.describe().T
stats

       count         mean        std  min     25%     50%     75%     max
Year  5868.0  1965.887185  61.730863  5.0  1945.0  1976.0  2004.0  2016.0
Age   3210.0    27.123364  13.719479  1.0    17.0    24.0    35.0    87.0

In [84]:
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
Year,5868.0,1965.887185,61.730863,5.0,1945.0,1976.0,2004.0,2016.0,59.0
Age,3210.0,27.123364,13.719479,1.0,17.0,24.0,35.0,87.0,18.0

In [85]:
stats.index[0]

'Year'

In [86]:
outliers = pd.DataFrame(columns=data.columns)

col = stats.index[0]
iqr = stats.at[col,'IQR']
cutoff = iqr * 1.5
lower = stats.at[col,'25%'] - cutoff
upper = stats.at[col,'75%'] + cutoff
results = data[(data[col] < lower) | (data[col] > upper)].copy()
results['Outlier'] = col
outliers = outliers.append(results)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [87]:
outliers

,Activity,Age,Area,Case Number,Country,Date,Fatal,Injury,Investigator or Source,Location,Name,Outlier,Sex,Time,Type,Year,url
4312,Swimming,NaN,Adana Province,1948.09.17.R,TURKEY,Reported 17-Sep-1848,Y,FATAL,"C. Moore, GSAF",Yumurtalik,Ali Kaymaz,Year,M,,Unprovoked,1848.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1948.09.17.R-Kaymaz.pdf
5723,NaN,22.0,NaN,1856.11.30,NaN,30-Nov-1856,Y,FATAL,"Hartford Daily Courant, 1/29/1857",NaN,Cornelius Conhlren,Year,M,,Unprovoked,1856.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1856.11.30-Conhlren.pdf
5724,Swimming,NaN,NaN,1856.11.25.R,FIJI,Reported 25-Nov-1856,Y,FATAL,"The Argus, 11/25/1856",NaN,a seaman,Year,M,,Unprovoked,1856.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1856.11.25.R-Fiji.pdf
5725,Swimming,NaN,Isle of Wight,1856.06.21.R,ENGLAND,Reported 21-Jun-1856,Y,Survived,"C. Moore, GSAF",Colwell Bay,male,Year,M,,Unprovoked,1856.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1856.06.21.R-Isle-of-Wight.pdf
5726,Swimming,17.0,Victoria,1856.02.06,AUSTRALIA,06-Feb-1856,UNKNOWN,Severe bite to thigh. Not known if he survived,"The Argus, 2/8/1856",Point Henry,a seaman from the John and Lucy,Year,M,,Unprovoked,1856.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1856.02.06-Point-Henry.pdf
5727,Swimming,NaN,Victoria,1855.11.11,AUSTRALIA,11-Nov-1855,Y,FATAL,"Maitland Mercury, 11/14/1855",Melbourne,a seaman from the whaling brig Curlew,Year,M,,Unprovoked,1855.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1855.11.11-Curlew-seaman.pdf
5728,ship William Penn grounded & broke apart,NaN,North Carolina,1855.09.30,USA,30-Sep-1855,N,Foot bitten,"NY Times, 10/12/1855",Cape Hatteras,sailor,Year,M,,Sea Disaster,1855.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1855.09.30-WilliamPenn.pdf
5729,Bathing,NaN,NaN,1855.07.28,NaN,28-Jul-1855,Y,FATAL,"Maitland Mercury, 8/25/1855",NaN,"a young boy, one of the crew of the Post Boy",Year,M,,Unprovoked,1855.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1855.07.28-PostBoy-sailors.pdf
5730,Fell overboard from the Malacca,NaN,South Australia,1855.04.09.R,AUSTRALIA,Reported 09-Apr-1855,Y,FATAL,"The Argus, 4/9/1855",Port Wakefield,child,Year,F,,Unprovoked,1855.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1855.04.09.R-Malacca-child.pdf
5731,Fell overboard from the Sobella,NaN,South Australia,1855.03.28,AUSTRALIA,28-Mar-1855,Y,FATAL,"The Register, 4/20/1926",Port Wakefield,Master Coleman,Year,M,,Unprovoked,1855.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1855.03.28-Coleman.pdf
5732,Swimming,NaN,Makira-Ulawa Province,1855.02.12.R,SOLOMON ISLANDS,Reported 12-Feb-1855,Y,FATAL,"The Hobarton Mercury, 2/12/1855",Makira Island (Formerly San Cristobal),male,Year,M,,Unprovoked,1855.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1855.02.12.R-Native.pdf
5733,Swimming,NaN,New South Wales,1855.00.00,AUSTRALIA,Circa 1855,N,"No injury & although reported as an attack, it was simply an encounter","Brighton Southern Cross, 2/13/1915",Sydney Harbor,C.T. Clark,Year,M,,Invalid,1855.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1855.00.00-Clark.pdf
5734,Swimming,NaN,Corfu,1854.04.08.R,GREECE,Reported 08-Apr-1854,N,Leg severed at knee,"South Australian Register, 5/8/1854",NaN,Hanson,Year,M,,Unprovoked,1854.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1854.04.08.R-Hanson.pdf
5735,Swimming,NaN,New South Wales,1853.11.08,AUSTRALIA,08-Nov-1853,N,Leg bitten,"Maitland Mercury, 11/19/1853",NaN,John Peters,Year,M,,Unprovoked,1853.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1853.11.08-Peters.pdf
5736,Commercial Salvage Diving,NaN,North Carolina,1853.09.28,USA,28-Sept-1853,N,No injury. Copper breastplate & harness bitten,"C. Creswell, GSAF; Washington Post, 10/7/1883, p.2","Morehead, Carteret County",Alfetto,Year,M,,Unprovoked,1853.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1853.09.28-Alfetto.pdf
5737,Swimming,NaN,South Carolina,1853.07.13.R,USA,Reported 13-Jul-1853,Y,FATAL,Democratic Banner 8/5/1853,"Charleston Harbor, Charleston County",male,Year,M,,Unprovoked,1853.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1853.07.13.R-Charleston.pdf
5738,Fell into the water,NaN,Queensland,1853.00.00.d,AUSTRALIA,1853,Y,FATAL,"Brisbane Courier, 1/28/1909",Moreton Bay,"James Hexton, pilot",Year,M,,Unprovoked,1853.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1853.00.00.d-Hexton.pdf
5739,Hard hat diving,NaN,North Carolina,1853.00.00.c,USA,Sep or Oct-1853,N,"No injury, copper breastplate punctured","Fort Wayne Gazette, 1/24/1897","Morehead, Carteret County",Mark Dare,Year,M,,Unprovoked,1853.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1853.00.00.c-MarkDare.pdf
5740,He was fighting a shark when his boat capsized & he disappeared,NaN,South Carolina,1853.00.00.b,USA,1853,Y,His gold watch was later found in a shark but death may have been due to drowning,"W. H. Gregg, p.21",Off the Battery,a young man,Year,M,,Invalid,1853.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1853.00.00.b-battery.pdf
5741,Knocked overboard,NaN,Florida,1853.00.00.a,USA,1853 or 1854,Y,FATAL,"W. H. Gregg, p.22","Near Fernandina Bar, Nassau County",Captain George Jacob Hanscheldt,Year,M,,Unprovoked,1853.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1853.00.00.a-Hanscheldt.pdf
5742,Swimming,NaN,New South Wales,1852.12.19,AUSTRALIA,19-Dec-1852,Y,Shark involvement prior to death was not confirmed,"Maitland Mercury & Hunter River General Advertiser, 12/25/1952","Clark's Island, Sydney Harbor",Edward Graham,Year,M,,Invalid,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.12.19-Graham.pdf
5743,Fishing,NaN,Between Australia & USA,1852.10.23.R,PACIFIC OCEAN,Reported 23-Oct-1852,N,Foot bitten by hooked shark PROVOKED INCIDENT,"Maitland Mercury, 10/23/1852",NaN,William Stannard,Year,M,,Provoked,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.10.23.R-Stannard.pdf
5744,Fell overboard,NaN,New South Wales,1852.10.09.R,AUSTRALIA,Reported 09-Oct-1852,Y,FATAL,"Maitland Mercury, 10/09/1852",Coalcliff,James Rogers,Year,M,,Unprovoked,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.10.09.R-Rogers.pdf
5745,Fell overboard,NaN,Tongatapu,1852.08.07,TONGA,07-Aug-1852,Y,FATAL,"Courier, 1/3/1853",NaN,Charles Weymouth,Year,M,,Unprovoked,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.08.07-Weymouth.pdf
5746,Swimming,NaN,Virginia,1852.08.00,USA,Aug-1852,Y,FATAL,"Dixon Telegraph, 8/14/1852",Norfolk,a deserter from the U.S. Pennsylvania,Year,M,,Unprovoked,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.08.00-Sailor.pdf
5747,NaN,1.0,NaN,1852.07.28,ATLANTIC OCEAN,28-Jul-52,NaN,Death preceded shark involvement,Norway Heritage,NaN,Karen Bredesen Stræte,Year,F,,Invalid,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.07.28-Karen.pdf
5748,Swimming from capsized boat,NaN,KwaZulu-Natal,1852.05.24,SOUTH AFRICA,24-May-1852,Y,FATAL,"M. Levine, GSAF; Natal Times, 6/4/1852",Durban Bay,Mr. Messum's servant,Year,M,,Unprovoked,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.05.24-Messum-servant.pdf
5749,Wreck of the steamship Birkenhead,NaN,Western Cape Province,1852.02.26,SOUTH AFRICA,26-Feb-1852,Y,"FATAL. All of the women & children on board survived, but many of the 445 men that perished were taken by sharks","D. Davies, pp.182-184; M. Levine, GSAF",Danger Point,NaN,Year,M,02:50,Sea Disaster,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.02.26-Birkenhead.pdf
5750,Swimming,NaN,North Island,1852.01.22,NEW ZEALAND,"""Anniversary Day"" 22-Jan-1850 or 1852",Y,"FATAL, posterior thigh bared to femur, kneecap lacerated","Ref: H. Blake, Sixty Years in New Zealand, pp. 112-116 V. M. Coppleson (1962], page 247",Wellington Harbor,"Johnny Balmer, a soldier from the 65th Regiment",Year,M,,Unprovoked,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.01.22-Balmer.pdf
5751,"Vessel capsized, wading ashore carrying an oar",NaN,South Carolina,1852.00.00,USA,1852,Y,"FATAL, body was not recovered","W. H. Gregg, p. 21","Mount Pleasant, Charleston County",Charles Chambers,Year,M,,Unprovoked,1852.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1852.00.00-Chambers.pdf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5838,Murder,NaN,NaN,1776.00.00.R,GUINEA,Reported 1776,Y,FATAL,T. Pennant,NaN,African slave,Year,M,,Unprovoked,1776.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1776.00.00.R-Slave.pdf
5839,NaN,NaN,NaN,1776.00.00.b,GREENLAND,1776,Y,FATAL,T. Pennant,NaN,Occupants of skin boats,Year,NaN,,Boat,1776.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1776.00.00-Greenland.pdf
5840,Fishing,NaN,NaN,1771.07.12.R,USA,Reported 12-Jul-1771,Y,FATAL,"C. Moore, GSAF",Damiscotte,male,Year,M,,Unprovoked,1771.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1771.07.12.R-Damiscotte.pdf
5841,Bathing,NaN,Côte d'Azur,1767.00.00,FRANCE,1767,N,Lacerations to arm & leg,NaN,St. Tropez,Samuel Matthews,Year,M,,Invalid,1767.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1767.00.00-Matthews.pdf
5842,Swimming,NaN,NaN,1764.00.00,SPAIN,1764,Y,FATAL,"C. Moore, GSAF",Guadalquivir River,male,Year,M,,Unprovoked,1764.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1764.00.00-Spain.pdf
5843,"Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and ""the creature cast the man out of his throat.""",NaN,NaN,1758.00.00,MEDITERRANEAN SEA,1758,N,"""He was taken up alive and but little injured.""",A.M. Hodgkin,NaN,sailor,Year,M,,Unprovoked,1758.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1758.00.00-Mediterranean.pdf
5844,Swimming,14.0,Havana Province,1749.00.00,CUBA,1749,N,"Right leg severed at knee. In 1796 he became Lord Mayor of London. In 1778 he commissioned American artist, John Singleton Copley, to paint the incident: Watson and the Shark",GSAF,Havana Harbor,Brook Watson,Year,M,,Unprovoked,1749.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1749.00.00-Watson.pdf
5845,NaN,NaN,Skagerrak arm of the North Sea,1755.00.00,SWEDEN,1755,UNKNOWN,NaN,"C. Moore, GSAF",Bohuslän,Fishermen,Year,M,,Unprovoked,1755.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1755.00.00-Sweden.pdf
5846,Pearl diving,NaN,Las Perlas archipelago,1748.00.00,PANAMA,1748,Y,FATAL,"J. Castro, et al",Taboga & Isla del Rey,African slaves,Year,M,,Unprovoked,1748.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1748.00.00.R-LasPerlas.pdf
5847,Swimming,NaN,NaN,1742.12.17,NaN,17-Dec-1742,Y,FATAL,"C. Moore, GSAF",Carlisle Bay,2 impressed seamen,Year,M,,Unprovoked,1742.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1742.12.17-AdviceSeamen.pdf
5848,Swimming,NaN,Sicily,1738.04.06.R,ITALY,Reported 06-Apr-1738,Y,FATAL,"C. Moore, GSAF",Strait of Messina,male,Year,M,,Unprovoked,1738.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1738.04.06.R-Messina.pdf
5849,NaN,NaN,Bardestrand,1733.00.00,ICELAND,1733,NaN,"Partial hominid remains recovered from shark, probable drowning and scavenging",E. Olafsen,Talkknefiord,NaN,Year,NaN,,Invalid,1733.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1733.00.00-Iceland.pdf
5850,Swimming,NaN,Sardinia,1721.06.00,ITALY,June 1721,Y,"FATAL, partial remains recovered from sharks gut",F. Ricciardi; A. De Maddalena.,"Ponte della Maddelena,",male,Year,M,,Unprovoked,1721.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1721.06.00-Maddalena.pdf
5851,Swimming,19.0,Southwest coast,1703.03.26,BARBADOS,26-Mar-1703,N,"Hand and foot severely bitten, surgically amputated","W.R.Cutter, Vol.1, p.252",Carlisle Bay,"Samuel Jennings, a deserter from the British frigate Milford",Year,M,,Unprovoked,1703.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1703.03.26-Jennings.pdf
5852,NaN,NaN,NaN,1700.00.00.c,FRANCE,1700s,Y,FATAL,"A. De Maddalena, citing Cazeils (1998)",Nice,child,Year,M,,Unprovoked,1700.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.c-Nice.pdf
5853,Bathing,NaN,Côte d'Azur,1700.00.00.b,FRANCE,1700s,N,Leg severed,"A. De Maddalena, citing Cazeils (1998)",Antibes,seaman,Year,M,,Unprovoked,1700.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.b-Antibes.pdf
5854,Bathing,NaN,NaN,1700.00.00.a,BARBADOS,1700s,Y,FATAL,"Tioga Eagle, 10.26/ 1842",NaN,seaman from the York,Year,M,,Unprovoked,1700.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.a-Barbados.pdf
5855,Went overboard,NaN,NaN,1642.00.00.b,GUINEA,Late 1600s Reported 1728,Y,FATAL,"History of the Pyrates, by D. Defoe, Vol. 2, p.28",NaN,crew member of the Nieuwstadt,Year,M,,Invalid,1642.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1642.00.00.b-Nieuwstadt.pdf
5856,NaN,NaN,NaN,1638.00.00.R,NaN,Reported 1638,UNKNOWN,NaN,Sir Thomas Herbert,NaN,sailors,Year,M,,Unprovoked,1638.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1638.00.00.R-Herbert
5857,Wading,NaN,West Bengal,1637.00.00.R,INDIA,Reported 1637,UNKNOWN,NaN,"H. Edwards, p.31, citing Sebastian Manrique",Hooghly River mouth,Hindu pilgrims,Year,NaN,,Unprovoked,1637.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1637.00.00.R-Manrique.pdf
5858,NaN,NaN,West Bengal,1617.00.00.R,INDIA,Reported 1617,UNKNOWN,NaN,"H. Edwards, p.31, citing Samuel Purchas",Ganges Delta,Indian people,Year,NaN,,Unprovoked,1617.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1617.00.00-Purchas.pdf
5859,Swimming,NaN,New York,1642.00.00,USA,1642,Y,FATAL,"Knickerbocker's History of New York, by Washington Irving",Between Manhattan and The Bronx,Antony Van Corlear,Year,M,,Unprovoked,1642.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1642.00.00-Corlear.pdf
5860,Ship lay at anchor & man was working on its rudder,NaN,Kerala,1595.00.00,INDIA,1595,UNKNOWN,"Leg severed mid-thigh, hand severed, arm above elbow and part of buttocks. Not known if he survived",The Voyage of John Huyghen van Linschoten,River Cochin,male,Year,M,,Unprovoked,1595.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1595.00.00-Cochin.pdf
5861,Man fell overboard from ship. Those on board threw a rope to him with a wooden block & were pulling him to the ship,NaN,NaN,1580.01.10.R,Between PORTUGAL & INDIA,Letter dated 10-Jan-1580,Y,"FATAL. ""Shark tore him to pieces.","G.P. Whitley, p. 10",NaN,male,Year,M,,Unprovoked,1580.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1580.01.10.R-Portugal-India.pdf
5862,Swimming,NaN,NaN,1555.00.00,NaN,1555,UNKNOWN,NaN,Olaus Magnus,NaN,male,Year,M,,Unprovoked,1555.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1555.00.00-OlausMagnus.pdf
5863,NaN,NaN,Nice & Marseilles,1554.00.00,FRANCE,Ca. 1554,UNKNOWN,NaN,G. Rondelet,NaN,males (wearing armor),Year,M,,Unprovoked,1554.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1554.00.00-Rondelet.pdf
5864,Pearl diving,NaN,Magarita or Cubagua Islands,1543.00.00,VENEZUELA,Ca. 1543,Y,FATAL,J. Castro,NaN,Indian slave,Year,M,,Unprovoked,1543.0,http://sharkattackfile.net/spreadsheets/pdf_directory/1543.00.00.R-LasCasas.pdf
5865,NaN,NaN,NaN,0500.00.00,MEXICO,Circa 500 A.D.,N,Foot severed,J. Castro,NaN,male,Year,NaN,,Unprovoked,500.0,http://sharkattackfile.net/spreadsheets/pdf_directory/500AD-Mexico.pdf
5866,Sponge diving,NaN,Ionian Sea,0077.00.00,NaN,77 A.D.,Y,FATAL,Perils mentioned by Pliny the Elder (23 A.D. to 76 A.D.),NaN,males,Year,M,,Unprovoked,77.0,http://sharkattackfile.net/spreadsheets/pdf_directory/77AD-Pliny.pdf
5867,NaN,NaN,New South Wales,0005.00.00,AUSTRALIA,Ca. 5 A.D.,N,Aboriginal rock carving depicts man being attacked by a shark,Waverly Library,Bondi,male,Year,M,,Unprovoked,5.0,http://sharkattackfile.net/spreadsheets/pdf_directory/0005.00.00-AustralianAboriginal.pdf

In [88]:
outliers.index

Index(['4312', '5723', '5724', '5725', '5726', '5727', '5728', '5729', '5730',
       '5731',
       ...
       '5858', '5859', '5860', '5861', '5862', '5863', '5864', '5865', '5866',
       '5867'],
      dtype='object', length=146)

In [89]:
for index in outliers.index:
    data['Year'].loc[data['Year'].index == index] = np.nan

In [90]:
data['Year'].unique()

array([2016., 2015., 2014., 2013., 2012., 2011., 2010., 2009., 2008.,
       2007., 2006., 2005., 2004., 2003., 2002., 2001., 2000., 1999.,
       1998., 1997., 1996., 1995., 1984., 1994., 1993., 1992., 1991.,
       1990., 1989., 1969., 1988., 1987., 1986., 1985., 1983., 1982.,
       1981., 1980., 1979., 1978., 1977., 1976., 1975., 1974., 1973.,
       1972., 1971., 1970., 1968., 1967., 1966., 1965., 1964., 1963.,
       1962., 1961., 1960., 1959., 1958., 1957., 1956., 1955., 1954.,
       1953., 1952., 1951., 1950., 1949., 1948.,   nan, 1947., 1946.,
       1945., 1944., 1943., 1942., 1941., 1940., 1939., 1938., 1937.,
       1936., 1935., 1934., 1933., 1932., 1931., 1930., 1929., 1928.,
       1927., 1926., 1925., 1924., 1923., 1922., 1921., 1920., 1919.,
       1918., 1917., 1916., 1915., 1914., 1913., 1912., 1911., 1910.,
       1909., 1908., 1907., 1906., 1905., 1904., 1903., 1902., 1901.,
       1900., 1899., 1898., 1897., 1896., 1895., 1894., 1893., 1892.,
       1891., 1890., 1889., 1888., 1887., 1886., 1885., 1884., 1883.,
       1882., 1881., 1880., 1879., 1878., 1877., 1876., 1875., 1874.,
       1873., 1872., 1871., 1870., 1869., 1868., 1867., 1866., 1865.,
       1864., 1863., 1862., 1861., 1860., 1859., 1858.])

In [91]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Investigator or Source,url
0,2016.09.18.c,18-Sep-16,2016.0,13:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16.0,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
1,2016.09.18.b,18-Sep-16,2016.0,11:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36.0,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
2,2016.09.18.a,18-Sep-16,2016.0,10:43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43.0,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf
3,2016.09.17,17-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf
4,2016.09.16,16-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf

### 2.1.5. Clean the rest of the columns

**Column Date**

In [92]:
data['Date'].unique()

array(['18-Sep-16', '17-Sep-16', '16-Sep-16', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

**I will separate Reported from atacks dates**

In [93]:
data['Reported'] = data['Date'][data['Date'].str.startswith('Reported') == True]

In [94]:
data['Date'].loc[data['Date'].str.startswith('Reported') == True] = None

In [95]:
data.head(10)

,Case Number,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Investigator or Source,url,Reported
0,2016.09.18.c,18-Sep-16,2016.0,13:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16.0,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,NaN
1,2016.09.18.b,18-Sep-16,2016.0,11:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36.0,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,NaN
2,2016.09.18.a,18-Sep-16,2016.0,10:43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43.0,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,NaN
3,2016.09.17,17-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,NaN
4,2016.09.16,16-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,NaN
5,2016.09.15.R,15-Sep-16,2016.0,,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,NaN,Shark rammed boat. No injury to occupant,N,"West Australian, 9/15/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.15.R-boat.pdf,NaN
6,2016.09.11,11-Sep-16,2016.0,15:15,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,NaN,Minor injury to arm,N,"News4Jax, 9/11/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.11-PonteVedra.pdf,NaN
7,2016.09.07,07-Sep-16,2016.0,14:30,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,51.0,Severe lacerations to shoulder & forearm,N,"Hawaii News Now, 9/7/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.07-Oahu.pdf,NaN
8,2016.09.06,06-Sep-16,2016.0,15:40,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,50.0,FATAL,Y,"TVANouvelles, 9/6/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.06-Jewell.pdf,NaN
9,2016.09.05.b,05-Sep-16,2016.0,,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,12.0,Lacerations & punctures to lower right leg,N,"C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.05.b-Williams.pdf,NaN

**Clean separately Date and Report**

In [96]:
data['Date'] = data['Date'].str.replace(' ','')

In [97]:
data['Date ok'] = data['Date'].str.findall('\d\d-\w\w\w-\d\d')

In [98]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Investigator or Source,url,Reported,Date ok
0,2016.09.18.c,18-Sep-16,2016.0,13:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16.0,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,NaN,[18-Sep-16]
1,2016.09.18.b,18-Sep-16,2016.0,11:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36.0,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,NaN,[18-Sep-16]
2,2016.09.18.a,18-Sep-16,2016.0,10:43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43.0,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,NaN,[18-Sep-16]
3,2016.09.17,17-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,NaN,[17-Sep-16]
4,2016.09.16,16-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,NaN,[16-Sep-16]

**Column Type**

In [99]:
data['Type'].unique()

array(['Unprovoked', 'Boat', 'Provoked', 'Invalid', 'Sea Disaster',
       'Boating'], dtype=object)

**Try to change invalid into other categories using Activity**

In [100]:
data['Type'].loc[data['Type'] == 'Boating'] = 'Boat'

In [101]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Sea disaster')] = 'Sea Disaster'

In [102]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Floating')] = 'Sea Disaster'

In [103]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Surfing')] = 'Boat'

In [104]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'SUP')] = 'Boat'

In [105]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Canoeing')] = 'Boat'

In [106]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Fell overboard')] = 'Boat'

In [107]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'boat capsized')] = 'Boat'

In [108]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Swimming')] = 'Unprovoked'

In [109]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Diving')] = 'Unprovoked'

In [110]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Scuba diving')] = 'Unprovoked'

In [111]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Bathing')] = 'Unprovoked'

In [112]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Fishing')] = 'Provoked'

In [113]:
data['Type'].loc[(data['Type'] == 'Invalid') & (data['Activity'] == 'Spearfishing')] = 'Provoked'

In [114]:
data['Type'].unique()

array(['Unprovoked', 'Boat', 'Provoked', 'Invalid', 'Sea Disaster'],
      dtype=object)

**We delete Activity because is not usefull anymore**

In [115]:
data = data.drop(['Activity'], axis=1)

In [116]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Location,Name,Sex,Age,Injury,Fatal,Investigator or Source,url,Reported,Date ok
0,2016.09.18.c,18-Sep-16,2016.0,13:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",male,M,16.0,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,NaN,[18-Sep-16]
1,2016.09.18.b,18-Sep-16,2016.0,11:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M,36.0,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,NaN,[18-Sep-16]
2,2016.09.18.a,18-Sep-16,2016.0,10:43,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",male,M,43.0,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,NaN,[18-Sep-16]
3,2016.09.17,17-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,NaN,[17-Sep-16]
4,2016.09.16,16-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,Bells Beach,male,M,NaN,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,NaN,[16-Sep-16]

**Clean Country**

In [117]:
data['Country'].unique()

array(['USA', 'AUSTRALIA', 'NEW CALEDONIA', 'REUNION', 'BAHAMAS', 'SPAIN',
       'CHINA', 'JAPAN', 'COLUMBIA', 'SOUTH AFRICA', 'EGYPT',
       'NEW ZEALAND', 'INDONESIA', 'FRENCH POLYNESIA', 'CAPE VERDE',
       'Fiji', 'BRAZIL', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'UNITED ARAB EMIRATES', 'ARUBA', 'MOZAMBIQUE', 'THAILAND', 'FIJI',
       'PUERTO RICO', 'ITALY', 'MEXICO', 'ATLANTIC OCEAN', 'GREECE',
       'MAURITIUS', nan, 'ST. MARTIN', 'FRANCE', 'ECUADOR',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'PHILIPPINES', 'NIGERIA', 'TONGA',
       'SCOTLAND', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE',
       'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'COSTA RICA',
       'UNITED KINGDOM', 'MALAYSIA', 'UNITED ARAB EMIRATES (UAE)',
       'SAMOA', 'AZORES', 'SOLOMON ISLANDS', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'CUBA',
       'ENGLAND', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'LIBYA', 'YEMEN ',
       'MEDITERRANEAN SEA?', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'EGYPT ', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA',
       'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'ALGERIA',
       'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'St Helena', 'GREENLAND',
       'MEDITERRANEAN SEA', 'SWEDEN', 'ICELAND',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [118]:
data['Country'] = data['Country'].str.upper()

**Column Location**

In [119]:
data['Location'].unique()

array(['New Smyrna Beach, Volusia County', 'Thirteenth Beach',
       'Bells Beach', ..., 'Ocracoke Inlet', 'Panama Bay 8ºN, 79ºW',
       'Below the English fort, Trincomalee'], dtype=object)

**I delete this column because is too diverse**

In [120]:
data = data.drop(['Location'], axis=1)

In [121]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Name,Sex,Age,Injury,Fatal,Investigator or Source,url,Reported,Date ok
0,2016.09.18.c,18-Sep-16,2016.0,13:00,Unprovoked,USA,Florida,male,M,16.0,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,NaN,[18-Sep-16]
1,2016.09.18.b,18-Sep-16,2016.0,11:00,Unprovoked,USA,Florida,Chucky Luciano,M,36.0,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,NaN,[18-Sep-16]
2,2016.09.18.a,18-Sep-16,2016.0,10:43,Unprovoked,USA,Florida,male,M,43.0,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,NaN,[18-Sep-16]
3,2016.09.17,17-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,NaN,[17-Sep-16]
4,2016.09.16,16-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,male,M,NaN,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,NaN,[16-Sep-16]

**Column Sex**

In [122]:
data['Sex'].unique()

array(['M', nan, 'F', 'M ', 'lli', 'N', '.'], dtype=object)

In [123]:
data['Sex'].loc[data['Sex'] == 'M '] = 'M'
data['Sex'].loc[data['Sex'] == 'lli'] = np.nan
data['Sex'].loc[data['Sex'] == 'N'] = np.nan
data['Sex'].loc[data['Sex'] == '.'] = np.nan

In [124]:
data['Sex'].unique()

array(['M', nan, 'F'], dtype=object)

**Column Name**

**I delete the name beacause is not usefull for the study**

In [125]:
data = data.drop(['Name'], axis=1)

In [126]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Sex,Age,Injury,Fatal,Investigator or Source,url,Reported,Date ok
0,2016.09.18.c,18-Sep-16,2016.0,13:00,Unprovoked,USA,Florida,M,16.0,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,NaN,[18-Sep-16]
1,2016.09.18.b,18-Sep-16,2016.0,11:00,Unprovoked,USA,Florida,M,36.0,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,NaN,[18-Sep-16]
2,2016.09.18.a,18-Sep-16,2016.0,10:43,Unprovoked,USA,Florida,M,43.0,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,NaN,[18-Sep-16]
3,2016.09.17,17-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,M,NaN,Struck by fin on chest & leg,N,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,NaN,[17-Sep-16]
4,2016.09.16,16-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,M,NaN,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,NaN,[16-Sep-16]

**Column Fatal(Y/N)**

In [127]:
data['Fatal'].unique()

array(['N', 'Y', nan, 'UNKNOWN', ' N', 'F', 'N ', '#VALUE!', 'n'],
      dtype=object)

In [128]:
data['Fatal'].loc[data['Fatal'] == ' N'] = 'N'
data['Fatal'].loc[data['Fatal'] == 'N '] = 'N'
data['Fatal'].loc[data['Fatal'] == 'F'] = 'Y'
data['Fatal'].loc[data['Fatal'] == 'n'] = 'N'
data['Fatal'].loc[data['Fatal'] == '#VALUE!'] = np.nan

In [129]:
data[['Fatal','Injury']].loc[(data['Fatal'] != 'Y') & (data['Fatal'] != 'N')& (data['Fatal'] != 'UNKNOWN')]

,Fatal,Injury
54,NaN,"No injury, but sharks repeatedly hit their fins and guns"
1844,NaN,Reported as shark attack but probable drowning
2449,NaN,FATAL
3280,NaN,"Diver shot the shark, then it injured his arm and broke his leg with its tail. PROVOKED INCIDENT"
3435,NaN,"Disappeared, probable drowning but sharks in area led to speculation that he was taken by a shark"
3901,NaN,Boat damaged
4107,NaN,No injury to occupants. Shark tore nets & trawl and struck boat repeatedly
4112,NaN,Human remains found in shark
5307,NaN,"Disappeared, but shark involvement unconfirmed"
5437,NaN,"No injury, no attack"
5461,NaN,"Forensic evidence indicated death resulted from drowning, his body was subsequently scavenged by a shark"
5468,NaN,"Human remains found in 4m, 900 kg shark"
5642,NaN,No injury
5699,NaN,Possible drowning and scavenging
5718,NaN,FATAL
5747,NaN,Death preceded shark involvement
5793,NaN,Shark caught contained human remains
5794,NaN,"Shark caught, contained human remains"
5820,NaN,Probable drowning
5849,NaN,"Partial hominid remains recovered from shark, probable drowning and scavenging"

In [130]:
data['Fatal'].loc[data['Injury'] == 'FATAL'] = 'Y'

In [131]:
data['Fatal'].unique()

array(['N', 'Y', nan, 'UNKNOWN'], dtype=object)

**Column Injury**

**I delete the name beacause is not usefull anymore for the study**

In [132]:
data = data.drop(['Injury'], axis=1)

In [133]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Sex,Age,Fatal,Investigator or Source,url,Reported,Date ok
0,2016.09.18.c,18-Sep-16,2016.0,13:00,Unprovoked,USA,Florida,M,16.0,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,NaN,[18-Sep-16]
1,2016.09.18.b,18-Sep-16,2016.0,11:00,Unprovoked,USA,Florida,M,36.0,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,NaN,[18-Sep-16]
2,2016.09.18.a,18-Sep-16,2016.0,10:43,Unprovoked,USA,Florida,M,43.0,N,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,NaN,[18-Sep-16]
3,2016.09.17,17-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,M,NaN,N,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,NaN,[17-Sep-16]
4,2016.09.16,16-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,M,NaN,N,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,NaN,[16-Sep-16]

In [134]:
Source = data['Investigator or Source'].str.split(",",expand=True)

In [135]:
Source.head()

,0,1,2,3,4,5,6,7,8,9
0,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
1,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
2,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
3,The Age,9/18/2016,None,None,None,None,None,None,None,None
4,The Age,9/16/2016,None,None,None,None,None,None,None,None

In [136]:
data['Investigator or Source'] = Source[0]

In [137]:
data.head()

,Case Number,Date,Year,Time,Type,Country,Area,Sex,Age,Fatal,Investigator or Source,url,Reported,Date ok
0,2016.09.18.c,18-Sep-16,2016.0,13:00,Unprovoked,USA,Florida,M,16.0,N,Orlando Sentinel,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,NaN,[18-Sep-16]
1,2016.09.18.b,18-Sep-16,2016.0,11:00,Unprovoked,USA,Florida,M,36.0,N,Orlando Sentinel,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,NaN,[18-Sep-16]
2,2016.09.18.a,18-Sep-16,2016.0,10:43,Unprovoked,USA,Florida,M,43.0,N,Orlando Sentinel,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,NaN,[18-Sep-16]
3,2016.09.17,17-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,M,NaN,N,The Age,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,NaN,[17-Sep-16]
4,2016.09.16,16-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,M,NaN,N,The Age,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,NaN,[16-Sep-16]

## 2.2. We continue with the rows

### Check the duplicates rows

In [138]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Time', 'Type', 'Country', 'Area', 'Sex',
       'Age', 'Fatal', 'Investigator or Source', 'url', 'Reported', 'Date ok'],
      dtype='object')

In [139]:
duplicate_rows = data[data.duplicated(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Sex',
       'Age', 'Fatal', 'Investigator or Source'])]

In [140]:
duplicate_rows

Empty DataFrame
Columns: [Case Number, Date, Year, Time, Type, Country, Area, Sex, Age, Fatal, Investigator or Source, url, Reported, Date ok]
Index: []

**I do not find any duplicated row**

# 3. Final DataFrame

In [141]:
data

,Case Number,Date,Year,Time,Type,Country,Area,Sex,Age,Fatal,Investigator or Source,url,Reported,Date ok
0,2016.09.18.c,18-Sep-16,2016.0,13:00,Unprovoked,USA,Florida,M,16.0,N,Orlando Sentinel,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,NaN,[18-Sep-16]
1,2016.09.18.b,18-Sep-16,2016.0,11:00,Unprovoked,USA,Florida,M,36.0,N,Orlando Sentinel,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,NaN,[18-Sep-16]
2,2016.09.18.a,18-Sep-16,2016.0,10:43,Unprovoked,USA,Florida,M,43.0,N,Orlando Sentinel,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,NaN,[18-Sep-16]
3,2016.09.17,17-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,M,NaN,N,The Age,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,NaN,[17-Sep-16]
4,2016.09.16,16-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Victoria,M,NaN,N,The Age,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,NaN,[16-Sep-16]
5,2016.09.15.R,15-Sep-16,2016.0,,Boat,AUSTRALIA,Western Australia,NaN,NaN,N,West Australian,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.15.R-boat.pdf,NaN,[15-Sep-16]
6,2016.09.11,11-Sep-16,2016.0,15:15,Unprovoked,USA,Florida,M,NaN,N,News4Jax,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.11-PonteVedra.pdf,NaN,[11-Sep-16]
7,2016.09.07,07-Sep-16,2016.0,14:30,Unprovoked,USA,Hawaii,F,51.0,N,Hawaii News Now,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.07-Oahu.pdf,NaN,[07-Sep-16]
8,2016.09.06,06-Sep-16,2016.0,15:40,Unprovoked,NEW CALEDONIA,North Province,M,50.0,Y,TVANouvelles,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.06-Jewell.pdf,NaN,[06-Sep-16]
9,2016.09.05.b,05-Sep-16,2016.0,,Unprovoked,USA,South Carolina,F,12.0,N,C. Creswell,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.05.b-Williams.pdf,NaN,[05-Sep-16]
10,2016.09.05.a,05-Sep-16,2016.0,,Unprovoked,AUSTRALIA,Western Australia,M,NaN,N,Perth Now,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.05.a-Penman.pdf,NaN,[05-Sep-16]
11,2016.09.04,04-Sep-16,2016.0,,Unprovoked,USA,Florida,M,9.0,N,Orlando Sentinel,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.04-Moore.pdf,NaN,[04-Sep-16]
12,2016.09.01,01-Sep-16,2016.0,,Unprovoked,USA,California,M,22.0,N,R. Collier,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.01-McQuillen.pdf,NaN,[01-Sep-16]
13,2016.08.29.b,29-Aug-16,2016.0,15:00,Unprovoked,USA,Florida,M,25.0,N,News Channel 8,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.29.b-Cumiskey.pdf,NaN,[29-Aug-16]
14,2016.08.29.a,29-Aug-16,2016.0,14:00,Unprovoked,USA,Florida,M,37.0,N,News Channel 8,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.29.a-NSB.pdf,NaN,[29-Aug-16]
15,2016.08.27,27-Aug-16,2016.0,17:00,Unprovoked,REUNION,NaN,M,20.0,N,LaDepeche,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.27-Chardard.pdf,NaN,[27-Aug-16]
16,2016.08.25,25-Aug-16,2016.0,16:00,Unprovoked,USA,Florida,M,49.0,N,First Coast News,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.25-Cassetty.pdf,NaN,[25-Aug-16]
17,2016.08.07,07-Aug-16,2016.0,,Unprovoked,BAHAMAS,New Providence Island,M,15.0,N,ABC,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.07-Stoch.pdf,NaN,[07-Aug-16]
18,2016.08.06,06-Aug-16,2016.0,,Unprovoked,USA,Hawaii,M,21.0,N,SUP,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.06-Baxter.pdf,NaN,[06-Aug-16]
19,2016.08.04,04-Aug-16,2016.0,,Unprovoked,USA,Florida,M,22.0,N,News 965,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.06.04-Tyler.pdf,NaN,[04-Aug-16]
20,2016.07.29,29-Jul-16,2016.0,11:30,Unprovoked,SPAIN,Alicante Province,M,40.0,N,Informacion.es,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,NaN,[29-Jul-16]
21,2016.07.28.R,28-Jul-16,2016.0,,Unprovoked,CHINA,Hong Kong,M,72.0,N,Klassick,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.28.R-Franz.pdf,NaN,[28-Jul-16]
22,2016.07.28,28-Jul-16,2016.0,,Boat,AUSTRALIA,Western Australia,M,NaN,N,ABC Australia,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.28-Watkins.pdf,NaN,[28-Jul-16]
23,2016.07.27,27-Jul-16,2016.0,,Provoked,USA,Florida,M,43.0,N,Tampa Bay Times,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.27-Sapp.pdf,NaN,[27-Jul-16]
24,2016.07.26,26-Jul-16,2016.0,12:00,Unprovoked,AUSTRALIA,New South Wales,M,18.0,N,Gold Coast Bulletin,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.26-Ballina.pdf,NaN,[26-Jul-16]
25,2016.07.24,24-Jul-16,2016.0,19:05,Unprovoked,JAPAN,Kochi Prefecture,M,29.0,N,Japan Times,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.24-Japan.pdf,NaN,[24-Jul-16]
26,2016.07.23.b,23-Jul-16,2016.0,,Unprovoked,AUSTRALIA,Tasmania,M,36.0,N,C. Black,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.b-Critchlow.pdf,NaN,[23-Jul-16]
27,2016.07.23.a,23-Jul-16,2016.0,,Unprovoked,BAHAMAS,Abaco Islands,M,NaN,N,KWTX,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.a-Cutbirth.pdf,NaN,[23-Jul-16]
28,2016.07.20,20-Jul-16,2016.0,,Provoked,AUSTRALIA,Queensland,M,31.0,N,Nine News,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.20-Burck.pdf,NaN,[20-Jul-16]
29,2016.07.17,17-Jul-16,2016.0,,Boat,USA,Alabama,NaN,NaN,N,Al.com,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.17-Gulf.pdf,NaN,[17-Jul-16]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,ND.0031,WorldWarII,NaN,,Sea Disaster,PAPUA NEW GUINEA,Madang Province,M,NaN,N,V.M. Coppleson (1962),http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0031-Ditched-Aircrat.pdf,NaN,[]
5963,ND.0030,Before1905,NaN,,Unprovoked,BURMA,NaN,M,NaN,Y,Massillon Independent,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0030-Burma.pdf,NaN,[]
5964,ND.0028,Afewyearsbefore1938,NaN,,Boat,ITALY,Adriatic Sea,M,NaN,N,A. De Maddalena; Anon. (1938),http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0028-Maciotta.pdf,NaN,[]
5965,ND.0027,Nodate,NaN,,Unprovoked,GREECE,Dodecanese Islands,M,NaN,N,M. N. Kalafatas,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0027-Psarofagomenos.pdf,NaN,[]
5966,ND.0026,Early1930s,NaN,,Unprovoked,BELIZE,NaN,M,16.0,Y,Mitchell-Hedges,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0026-Belize.pdf,NaN,[]
5967,ND.0025,Before1927,NaN,,Unprovoked,AUSTRALIA,New South Wales,M,NaN,UNKNOWN,H. Capper,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0025-Sgt-SpectacleIsland.pdf,NaN,[]
5968,ND.0024,Between1918&1939,NaN,,Unprovoked,REUNION,Saint-Denis,NaN,NaN,Y,G. Van Grevelynghe,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0024-Barachois-Reunion.pdf,NaN,[]
5969,ND.0023,Nodate,NaN,,Unprovoked,SOUTH AFRICA,Western Cape Province,F,NaN,N,L. Green in Tavern of the Seas,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0023-Dalton.pdf,NaN,[]
5970,ND.0022,Nodate,NaN,,Unprovoked,AUSTRALIA,NaN,M,NaN,N,Adelaide Advertiser,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0022-Jaringoorli.pdf,NaN,[]
5971,ND.0021,Nodate,NaN,,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,Y,L. Green in South African Beachcomber,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0021-DurbanIndianBoy.pdf,NaN,[]
5972,ND.0020,1920-1923,NaN,,Unprovoked,AUSTRALIA,Queensland,M,NaN,Y,V.M. Coppleson (1958),http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0020-3JapaneseDivers.pdf,NaN,[]
5973,ND.0019,Before1921,NaN,,Unprovoked,USA,Florida,M,NaN,N,T. Helm,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0019-Kelley.pdf,NaN,[]
5974,ND.0018,Before1911,NaN,,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,M,NaN,N,Daily Kennebec Journal,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0018-Vietnam.pdf,NaN,[]
5975,ND.0017,Before1921,NaN,,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,Y,Captain A. Anderson,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0017-alongside-ship.pdf,NaN,[]
5976,ND.0016,Before1921,NaN,,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,Y,Captain A. Anderson,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0016-Durban-PostOffice.pdf,NaN,[]
5977,ND.0015,Before1917,NaN,,Unprovoked,FIJI,Moala Island,NaN,NaN,Y,Fijian Society papers presented April 17,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0015-FijianCanoe.pdf,NaN,[]
5978,ND.0014,Before17-Jul-1916,NaN,,Unprovoked,USA,North Carolina,M,NaN,N,C. Creswell,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0014-pre1916-NorthCarolina.pdf,NaN,[17-Jul-19]
5979,ND.0013,Nodate(3daysafterprecedingincident)&priorto19-Jul-1913,NaN,,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,Y,Rural New Yorker,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0013-Durban-native-fisherman.pdf,NaN,[19-Jul-19]
5980,ND.0012,Before19-Jul-1913,NaN,,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,Y,Rural New Yorker,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0012-Durban-Scotsman.pdf,NaN,[19-Jul-19]
5981,ND.0011,Before1911,NaN,,Unprovoked,ASIA?,NaN,M,NaN,N,Ref. J. T. Dubois in N.Y. Sun,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0011-Masury.pdf,NaN,[]
5982,ND.0010,Circa1862,NaN,,Unprovoked,USA,Hawaii,F,NaN,N,Captain W. Young,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0010-PunaHawaii.pdf,NaN,[]
5983,ND.0009,Before1906,NaN,,Unprovoked,AUSTRALIA,NaN,M,NaN,Y,NY Sun,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0009-boy-Australia.pdf,NaN,[]
5984,ND.0008,Before1906,NaN,,Unprovoked,AUSTRALIA,NaN,M,NaN,Y,NY Sun,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0008-Fisherman2-Australia.pdf,NaN,[]
5985,ND.0007,Before1906,NaN,,Unprovoked,AUSTRALIA,NaN,M,NaN,Y,NY Sun,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0007-Fisherman-Australia.pdf,NaN,[]
5986,ND.0006,Before1906,NaN,,Unprovoked,AUSTRALIA,New South Wales,M,NaN,Y,L. Becke in New York Sun,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0006-ArabBoy-Prymount.pdf,NaN,[]
5987,ND.0005,Before1903,NaN,,Unprovoked,AUSTRALIA,Western Australia,M,NaN,Y,H. Taunton; N. Bartlett,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0005-RoebuckBay.pdf,NaN,[]
5988,ND.0004,Before1903,NaN,,Unprovoked,AUSTRALIA,Western Australia,M,NaN,Y,H. Taunton; N. Bartlett,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0004-Ahmun.pdf,NaN,[]
5989,ND.0003,1900-1905,NaN,,Unprovoked,USA,North Carolina,M,NaN,Y,F. Schwartz,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0003-Ocracoke_1900-1905.pdf,NaN,[]
5990,ND.0002,1883-1889,NaN,,Unprovoked,PANAMA,NaN,M,NaN,Y,The Sun,http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0002-JulesPatterson.pdf,NaN,[]
5991,ND.0001,1845-1853,NaN,,Unprovoked,CEYLON (SRI LANKA),Eastern Province,M,15.0,Y,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf,NaN,[]

In [143]:
data.to_csv('final_data.csv')